<nav class="navbar navbar-expand-lg navbar-dark bg-success flex-column flex-md-row c-head shadow">
  <ul class="navbar-nav bd-navbar-nav flex-row">
    <li>
      <a class="navbar-brand" routerLink="/main"><img src="assets/Prasilabs.png" class="img-n shadow" /></a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/main">
        <div class="x">{{ title | uppercase }}</div>
        <div class="y">BHARAT(INDIA) | US</div>
      </a>
    </li>
  </ul>
  <div>
  <a class="navbar-brand" routerLink="/partners"><u>Partners</u></a>
  <a class="navbar-brand" routerLink="/login">
    <button class="btn btn-sm btn-warning" type="submit">Login/Signup</button></a>
    </div>
</nav>