<header class="header">
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container">
      <a routerLink="/" class="navbar-brand text-uppercase font-weight-bold">
        <div class="d-flex">
          <img src="../../assets/Prasilabs.png" class="title" />
        </div>
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav w-25 nav-pills float-end">
          <li class="nav-item">
            <a href="#collapseSec" (click)="isCollapsed = !isCollapsed;setAboutDetail()"
              class="nav-link text-uppercase font-weight-bold shadow" data-bs-toggle="collapse"
              aria-controls="collapseSec" [attr.aria-expanded]="!isCollapsed" title="About Us">
              <i class="fas fa-info" id="contact_ico"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#collapseSec" (click)="isCollapsed = !isCollapsed;setContactDetail()" data-bs-toggle="collapse"
              aria-controls="collapseSec" [attr.aria-expanded]="!isCollapsed" class="nav-link shadow" title="Contact">
              <i class="fas fa-id-card-alt" id="contact_ico"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#collapseSecFeedback" (click)="isCollapsed = !isCollapsed;setFeedbackDetail()"
              data-bs-toggle="collapse" aria-controls="collapseSecFeedback" [attr.aria-expanded]="!isCollapsed"
              class="nav-link shadow" title="Feedback">
              <i class="fas fa-envelope" id="feedback_ico"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#collapseSec" (click)="isCollapsed = !isCollapsed;setMapDetail()" data-bs-toggle="collapse"
              aria-controls="collapseSec" [attr.aria-expanded]="!isCollapsed" class="nav-link shadow" title="Location">
              <i class="fas fa-map-marker-alt"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn() else logoutf">
            <a routerLink="login" (click)="isCollapsed = !isCollapsed" class="nav-link shadow" title="Login">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <ng-template #logoutf>

            <li class="nav-item">
              <a (click)="isCollapsed = !isCollapsed; home()" class="nav-link shadow" title="Home"><i
                  class="fas fa-igloo"></i>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="isCollapsed = !isCollapsed; logout()" class="nav-link shadow"><i class="fas fa-sign-out-alt"
                  title="Logout"></i>
              </a>
            </li>

          </ng-template>



        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="collapse container cla" id="collapseSec" [(ngbCollapse)]="isModel" (click)="isModel=true" [animation]="true">
  <div class="card sd mt-5">
    <div class="card-header">
      {{sectionDetail['header']}}
    </div>
    <div class="card-body" [innerHtml]="sectionDetail['detail']">

    </div>
  </div>
</div>

<div class="collapse cla" id="collapseSecFeedback" [(ngbCollapse)]="isModel1" [animation]="true">
  <div class="card sd m-5">
    <div class="card-header">
      {{sectionDetail['header']}}
    </div>
    <div class="card-body">
      <div>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="e" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="detail">Message</label>
            <textarea class="form-control" id="detail" rows="3"></textarea>
          </div>
          <button class="btn btn-sm btn-primary" (click)="submitFeedback();">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>