
.c-head {
  opacity: 0.8;
  padding-left: 7rem;
  padding-right: 7rem;
  min-height: 4rem;
  justify-content: space-between;
}
.x{
  font-size: xx-large;
}
.y{
  font-size: x-small;
  font-weight: bold;
}
.img-n{
  height: 4rem !important;
  width: 6rem !important;
  display: block !important;
  margin-right: 0.3rem !important;
}