
.footer{
position: relative;
background-image:linear-gradient(to bottom,rgba(9, 10, 10, 0.897),rgba(9, 10, 10, 0.897));
min-height: 100px;
color: white;
font-weight: bold;
font-size: medium;
width: 100%;
clear: both;
transform: translateY(99%);
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) { 
  .footer {
    min-height: auto;
    font-size: small;
    min-height: 50px;
  }
}