<div class="ul">

      <div id="we" title="We!" data-bs-toggle="offcanvas" data-bs-target="#offcanvaswe" aria-controls="offcanvas"
        class="i-custom list-item">
        <b>We!</b>
      </div>
  
      <div id="contact" title="Contct" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"
        class="list-item" (click)="setContactDetail()">
        <i class="fas fa-id-card-alt i-custom" id="contact_ico"></i>
      </div>

      <div id="aboutUs" title="About Us" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
        aria-controls="offcanvas" class="list-item" (click)="setAboutDetail()">
        <i class="fas fa-info i-custom" id="aboutUs_ico"></i>
      </div>

      <div id="feedback" title="Write to us" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
        aria-controls="offcanvas" class="list-item" (click)="setFeedbackDetail()">
        <i class="fas fa-envelope i-custom" id="feedback_ico"></i>
      </div>
   
      
      <div class="list-item" id="copywrite" title="Copywrite" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
        aria-controls="offcanvas" (click)="setCopywriteDetail()">
        <i class="fas fa-copyright i-custom" id="copywrite_ico"></i>
      </div>
  
      <div class="list-item" id="location" title="locate us on map" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasL" aria-controls="offcanvas" (click)="setMapDetail()">
        <i class="fas fa-map-marker-alt i-custom"></i>
      </div>
  
      <div id="TnC" title="TnC" data-bs-toggle="offcanvas" data-bs-target="#offcanvastnc" aria-controls="offcanvas"
        class="i-custom list-item">
        <b>T&C</b>
      </div>
   
      <div class="list-item" id="twitter"> <a href="https://twitter.com/" target="_blank"><i
            class="fab fa-twitter i-custom"></i></a></div>

      <div class="list-item" id="linkedin">
        <a href="https://www.linkedin.com/company/prasi-labs/" target="_blank">
          <i class="fab fa-linkedin i-custom"></i></a>
      </div>
 
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      <Strong> {{ sectionDetail.header }}</Strong>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div [innerHTML]="sectionDetail.detail">

    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasL" aria-labelledby="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      <Strong> {{ sectionDetail.header }}</Strong>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.315161343237!2d78.38300281433425!3d17.444623305744706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb910c675daef9%3A0x5afcb3e5f5e2c241!2sPrasi%20Labs%20Private%20Limited!5e0!3m2!1sen!2sin!4v1634912369875!5m2!1sen!2sin"
      width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="offcanvas-body">
    <div [innerHTML]="sectionDetail.detail">

    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvaswe" aria-labelledby="offcanvas">
  <div class="offcanvas-header">
    <h6 class="offcanvas-title" id="offcanvasExampleLabel">
      <Strong>COMMITMENT CONSISTENCY TRANSPARENCY</Strong>
    </h6>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="se">
      <strong>Why We</strong><br />
      Completing difficult assignments and managing tight time schedules has
      always and will be the trademark of Prasi
      Labs.
      Customer satisfaction is the key to success, At Prasi Labs, We assures
      to provide the highest level of customer
      services before, during & after sales.
      <br />
      <strong>Why We</strong><br />
      <u>Drug Impurities Reference Standards</u><br />
      We offer a large selection of reference standards of drug-related process
      impurities, drug degradation products,
      including compendial impurities listed by USP, EP and other compendia.
      We strive to offer complete sets of drug
      impurities in line with analytical target profiles of drug substances.
      Many of our products are not available from
      any other manufacturer.<br />
      <u>Drug Metabolites Reference Standards</u><br />
      Reference standards of drug metabolites are used in bioanalysis to
      positively identify and quantitate drug
      metabolites in the blood, urine and other body fluids. Our reference
      standards include products of oxidative
      metabolism and conjugation such as O-glucuronides, N-glucuronides,
      acyl glucuronides, and sulphates.
      <br /><u>Drug Metabolites Stable Isotope Labeled Reference Standards</u><br />
      Reference standards of stable isotope-labeled drug metabolites are
      used in bioanalysis to quantitate drug
      metabolites in the blood, urine and other body fluids. We offer a
      large selection of deuterium (2H)-, 15N and
      13C-labeled O-glucuronides, N-glucuronides, acyl glucuronides, and
      other drug metabolites with high chemical and
      isotopic purity.
      <br /><u>Drug Substance Reference Standards</u><br />
      We offer a large selection of high purity reference standards of d
      rug substances. Our drug substance reference
      standards are traceable to the compendial reference standards.
      <br /><u>Drug Substance Stable Isotope Labeled Reference Standards</u><br />
      We offer deuterium (2H)-, 15N, 13C- labeled drug substance reference
      standards with high isotopic and chemical
      purity. The isotopic purity is determined by mass spectroscopy. The
      labeling is designed to eliminate the
      possibility for isotope exchange and are tailored to the needs of the clients.
      <br><u>Fine Labeled Research Chemicals</u><br />
      This category includes non-drug related research chemicals labeled with
      stable isotopes. The isotopic purity is
      confirmed by high-resolution mass spectroscopy. The labeling is designed
      to eliminate the possibility of isotope
      exchange and is tailored to the needs of the clients.

      <br /><strong>Globally Connected by Large Network</strong><br />
      We are here to facilitate the services for you. We are having suppliers
      from almost every part of the world. This
      Makes us different from another’s. We are providing a easy & one step
      sourcing portal for you.We are leading
      synthesizer and supplier of pharmaceutical Reference materials like
      Drug working standard, Drug impurity
      standards, Drug metabolites and Stable Isotope Labelled compounds.
      Our expertise in this area has made us one of
      the most trusted companies in the industry. We are the front runner
      in manufacturing complicated Drug impurity
      standards or Reference materials and the complete solution provider
      in identifying, synthesizing and qualifying
      any Unknown impurity.


      <br /><strong>Our Offerings</strong><br />

      We offer custom synthesis services of up to gram-quantities of materials
      for a wide range of industrial and
      academic customers. We listen to our customers and provide products that
      meet their specifications. The purity of
      our products is supported by solid analytical data and their certification
      is tailored to our customer needs.

      <br /><strong>Our Mission</strong><br />

      We are committed and dedicated to ensure that our products and services fully
      meet our customers’ expectations
      leading to total customer satisfaction. We achieve these goals through
      a well-defined core strategy that ensures a
      highly motivated and skilled team, providing healthy work environment,
      advanced training and continuous education
      programs that allows to produce top quality results.
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvastnc" aria-labelledby="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      <Strong>Terms and Conditions</Strong>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="Yes">
      Please read
    </div>
  </div>
</div>