<div class="mt-2"></div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" id="Home" aria-current="page" [routerLinkActive]="'active'" routerLink="adminhome">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="login" role="button"
            aria-expanded="false" id="Profile" [routerLinkActive]="'active'" routerLink="adminprofile">Profile</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="#" id="Security settings" routerLink="./adminprofile/security">Security
                    settings</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Orders" [routerLinkActive]="'active'" 
        routerLink="orderinfo">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  id="Invoices" [routerLinkActive]="'active'" 
        routerLink="invoiceinfo">Invoices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Service Requests" [routerLinkActive]="'active'" 
        routerLink="srinfo">Service
            Requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="Communications" [routerLinkActive]="'active'"
            routerLink="comminfo">Communications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  id="Communications" [routerLinkActive]="'active'"
            routerLink="customerinfo">Customer Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Communications" [routerLinkActive]="'active'"
            routerLink="productinfo">Product Informaiton</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Communications" [routerLinkActive]="'active'"
            routerLink="task">Task</a>
    </li>
</ul>
<router-outlet></router-outlet>