<div class="container m-3">
    <form>
        <div class="container shadow bg-light">
            <div class="row align-items-start">
                <div class="col-sm-6">
                    <h5 class="text-center text-dark">Personal detail</h5>
                    <hr />

                    <div class="form-group">
                        <label for="name" class="text-info">Full Name</label>
                        <input class="form-control" type="text" id="name" name="name" required
                            [(ngModel)]="customer1.account.name" (input)="enableProfileSave()" />
                    </div>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-group">
                                <label for="sex" class="text-info">Sex</label>
                                <input class="form-control" type="text" id="sex" name="sex" required
                                    [(ngModel)]="customer1.account.sex" (input)="enableProfileSave()" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="dob" class="text-info">Date of Birth</label>
                                <input class="form-control" type="date" id="dob" name="dob" required
                                    [ngModel]="customer1.account.DOB | date: 'YYYY-MM-dd'" (ngModelChange)="
                  customer1.account.DOB = $event; enableProfileSave()
                " />
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-group">
                                <label for="userid" class="text-info">User Id</label>
                                <input class="form-control-plaintext" type="text" id="userid" name="userid" readonly
                                    required value="abcd" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="pan" class="text-info">PAN</label>
                                <input class="form-control" type="text" id="pan" name="pan"
                                    [(ngModel)]="customer1.account.pan" (input)="enableProfileSave()" />
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-group">
                                <label for="type" class="text-info">Registration type</label>
                                <input class="form-control" type="text" id="type" name="type" required
                                    [(ngModel)]="customer1.account.type" (input)="enableProfileSave()" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <br />
                    <h5 class="text-center text-dark">Company detail</h5>
                    <hr />

                    <div class="form-group">
                        <label for="companyname" class="text-info">Company Name</label>
                        <input class="form-control" type="text" id="companyname" name="companyname" required
                            [(ngModel)]="customer1.account.companyName" (input)="enableProfileSave()" />
                    </div>
                    <div class="row row-cols-3">
                        <div class="col">
                            <div class="form-group">
                                <label for="compnayIdentifierNo" class="text-info">Indentification No</label>
                                <input class="form-control" type="text" id="compnayIdentifierNo"
                                    name="compnayIdentifierNo" required
                                    [(ngModel)]="customer1.account.compnayIdentifierNo" (input)="enableProfileSave()" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="compnayIdentifiertype" class="text-info">Identification Type</label>
                                <input class="form-control" type="text" id="compnayIdentifiertype"
                                    name="compnayIdentifiertype" required
                                    [(ngModel)]="customer1.account.compnayIdentifiertype"
                                    (input)="enableProfileSave()" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="country" class="text-info">Country</label>
                                <input class="form-control" type="text" id="country" name="country" required
                                    [(ngModel)]="customer1.account.country" (input)="enableProfileSave()" />
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-group">
                                <label for="companyEmail" class="text-info">Company Email</label>
                                <input class="form-control" type="text" id="companyEmail" name="companyEmail" required
                                    [(ngModel)]="customer1.account.companyEmail" (input)="enableProfileSave()" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="companyPhone" class="text-info">Company Phone</label>
                                <input class="form-control" type="text" id="companyPhone" name="companyPhone" required
                                    [(ngModel)]="customer1.account.companyPhone" (input)="enableProfileSave()" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="companyAddress" class="text-info">Company Address</label>
                        <input class="form-control" type="text" id="companyAddress" name="companyAddress" required
                            (input)="enableProfileSave()" />
                    </div>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-group">
                                <label for="associationNum" class="text-info">PRASI Labs registration no. at
                                    company</label>
                                <input class="form-control" type="text" id="associationNum" name="associationNum"
                                    (input)="enableProfileSave()" />
                            </div>
                        </div>
                    </div>
                    <div class="mt-3"></div>
                </div>
            </div>
        </div>
        <div class="container float-right mt-3">
            <div class="form-group mt-5">
                <input class="form-check-input md-5" type="checkbox" id="selfAttest" name="selfAttest" disabled
                    [ngModel]="customer1.account.selfAttest" />
                <label for="selfAttest" class="form-check-label text-danger">&nbsp; I ceritify that information provided
                    by me
                    is
                    correct.</label>
            </div>
            <button type="submit" class="btn btn-success position-absolute end-50" [disabled]="profileSaveDisable">
                Save
            </button>
        </div>
    </form>
</div>