
<br />
<h4 class="custom-c">Placed Orders</h4>
<hr id="horzntl-custom-order" />
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-sm btn-dark m-1 rounded">All</button>
    <button type="button" class="btn btn-sm btn-dark m-1 rounded">
      Oldest first
    </button>
    <button type="button" class="btn btn-sm btn-dark m-1 rounded">
      Newest first
    </button>
    <div class="input-group m-1 rounded">
      <div class="input-group-text" id="btnGroupInvoiceSrch">Search</div>
      <input
        type="text"
        class="form-control"
        placeholder="Order# or date(MM-YYYY)"
        aria-label="Order# or date(MM-YYYY)"
        aria-describedby="btnGroupAddon"
      />
    </div>
  </div>
</div>
<br />
<div class="contanier-fluid">
  <div class="accordion accordion-flush" id="accordionFlush">
    <div class="accordion-item" *ngFor="let order of orders; let i = index">
      <h4 class="accordion-header" id="flush-headingOne{{ i }}">
        <div
          class="accordion-button collapsed shadow"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#flush-collapseOne' + i"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <div class="row row-cols-4">
            <div
              class="col"
              [ngStyle]="{ color: order['orderIconColor'] }"
              title="{{ order['orderStatus'] }}"
            >
              <i class="fas {{ icon[order['orderStatus']] }} fa-lg"></i>
            </div>
            <div class="col">{{ order["order#"] }} ;</div>
            <div class="col">other payment detail</div>
            <div class="col">Shipping detail</div>
          </div>
        </div>
      </h4>
      <div
        id="flush-collapseOne{{ i }}"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlush"
      >
        <div class="accordion-body">
          <div class="row row-cols-3">
            <div class="col mb-2" *ngFor="let item of order.items">
              <div class="card border-info shadow-sm">
                <div class="card-header">
                  <div class="row row-cols-4">
                    <div class="col">
                      <i class="fas fa-tag" title="Unit Price"></i>
                    </div>
                    <div class="col">
                      <i class="fas fa-arrow-down" title="Discount"></i>
                    </div>
                    <div class="col">
                      <i class="fas fa-percentage" title="Tax Surcharge"></i>
                    </div>
                    <div class="col">
                      <i class="fas fa-hashtag" title="Units Ordered"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  {{ item["itemNo"] }}
                </div>
                <div class="card-footer">
                  <div class="row row-cols-3">
                    <div class="col">
                      <i class="fas {{ ret }}" title="Net Amount"></i>
                    </div>
                    <div class="col">{{ item["itemStatus"] }}</div>
                    <div class="col"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="order.items.length > 0; else elset">
            <div class="row row-cols-3 d-flex justify-content-around">
              <div class="col oid d-flex align-items-center">
                <i
                  class="fas fa-file-download fa-2x"
                  title="Download Invoice"
                ></i>
              </div>
              <div class="col d-flex align-items-center">
                <i
                  class="fas fa-truck-loading fa-lg m-2"
                  title="Delivery Address"
                ></i>
                <span class="text-wrap text-break">
                  Delivery
                  Addressfsflfsdljfdsfkdfsdjfldsklfjsfjdslfjdslfskdjfdlsfjdslkfjdslkf
                </span>
              </div>
              <div class="col d-flex align-items-center">
                <i
                  class="fas fa-money-bill fa-lg m-2"
                  title="Billing Address"
                ></i>
                <span class="text-wrap text-break">
                  Billing
                  Addressdfdkfjdslfdjskfdjfdslfjdlsfjdlfjdlfjdkflsjfldkfjsljfdk
                </span>
              </div>
            </div>
          </div>
          <ng-template #elset>Invalid Order</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5"><br/></div>