<br />
<h4 class="custom-c">Address</h4>
<a routerLink="../../profile">Back</a>
<hr id="horzntl-custom-inv" />
<div class="container media">
  <div class="row">
    <div class="col-sm-4" *ngFor="let add of add">
      <div class="m-2">
        <div class="badge bg-secondary float-start w-25" *ngIf="add['addressType'] !== ''"
          [ngClass]="add['addressClass']">
          {{ add["addressType"] }}
        </div>
        <div class="card border-info shadow">
          <div class="card-body">
            <div class="row row-cols-1">
              <div class="text-dark text-wrap text-break">3434343434</div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm border-primary float-start" data-bs-toggle="modal"
              data-bs-target="#exampleModalEdit">
              Edit
            </button>
            <button class="btn btn-sm border-danger float-end" data-bs-toggle="modal"
              data-bs-target="#exampleModalDispose">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalDispose" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delete the address? If you have used this
        address before, it will still be visible in those respective sections.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="row row-cols-2">
            <div class="col">
              <label for="name">Address</label>
              <input class="form-control" type="text" id="address" name="address" />
            </div>
            <div class="col">
              <label for="name">City</label>
              <input class="form-control" type="text" id="city" name="city" />
            </div>
            <div class="col">
              <label for="name">State</label>
              <input class="form-control" type="text" id="state" name="state" />
            </div>
            <div class="col">
              <label for="name">Pin</label>
              <input class="form-control" type="number" id="pin" name="pin" />
            </div>
            <div class="col">
              <label for="name">Country</label>
              <input class="form-control" type="text" id="country" name="country" />
            </div>
            <div class="col">
              <label for="name">Type</label>
              <input class="form-control" type="text" id="type" name="type" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mb-5"></div>