
#horzntl-custom-inv {
  width: 50%;
  color: chocolate;
  height: 5px;
}
.card-footer {
  background-color: white !important;
  border: none;
  background-image: linear-gradient(white, rgb(252, 252, 248));
  font-family: monospace;
}
.card-body {
  background-color: white !important;
  background-image: linear-gradient(rgb(226, 242, 245), rgb(252, 252, 248));
}
.c-b {
  background-color: rgb(158, 20, 20) !important;
  border: none;
  align-items: center;
}
.c-s {
  background-color: rgb(15, 134, 15) !important;
  border: none;
  align-items: center;
}
.c-p {
  background-color: rgb(18, 129, 129) !important;
  border: none;
  align-items: center;
}