.custom-c {
    color: chocolate;
  }
  #horzntl-custom-inv {
    width: 50%;
    color: chocolate;
    height: 5px;
  }
  .col-color {
    color: teal;
    font-weight: bolder;
  }
  .action {
    transition: transform 125ms;
    transform: scale(1.03);
    color: blue !important;
    font-weight: bold;
    cursor: pointer;
  }
  .action-n {
    cursor: not-allowed;
  }
  
  @media screen and (max-width:900px) {
    .media,.btn{
      font-size: smaller;
    }
  }