<div class="container mt-4">
    <div class="row">
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    Invoice Bulk Upload
                </div>
                <div class="card-body">
                    <form>
                        <label for="pfile">Select csv file(s)</label>
                        <input type="file" id="pfile" class="form-control" multiple />
                        <button type="submit" class="btn btn-sm btn-outline-dark mt-2"
                            (click)="uploadBInvoice()">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    Product Bulk Upload
                </div>
                <div class="card-body">
                    <form>
                        <label for="pfile">Select csv file(s)</label>
                        <input type="file" id="pfile" class="form-control" multiple />
                        <button type="submit" class="btn btn-sm btn-outline-dark mt-2"
                            (click)="uploadBProduct()">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    GST Bulk Upload
                </div>
                <div class="card-body">
                    <form>
                        <label for="pfile">Select csv file(s)</label>
                        <input type="file" id="pfile" class="form-control" multiple />
                        <button type="submit" class="btn btn-sm btn-outline-dark mt-2"
                            (click)="uploadBGST()">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row mt-2">
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-secondary text-light">
                    Find and update GST
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-info mt-2" data-bs-target=" #gsttable"
                        data-bs-toggle="modal">Click to
                        see list of
                        Products/GST</button>
                    <div class="modal fade" id="gsttable" tabindex="-1" aria-labelledby="gsttableLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <table class="table table-sm table-responsive table-hover">
                                        <caption>Enter percent value e.g. 10.5% should be entered as
                                            10.5.<br />Discount should be in exact amount e.g. 100.40 INR should be
                                            entered as 100.40</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fs"></th>
                                                <th scope="col" class="fs">Product Name</th>
                                                <th scope="col" class="fs">CASNO</th>
                                                <th scope="col" class="fs">CURRENCY</th>
                                                <th scope="col" class="fs">CGST</th>
                                                <th scope="col" class="fs">SGST</th>
                                                <th scope="col" class="fs">IGST</th>
                                                <th scope="col" class="fs">OTHER TAX</th>
                                                <th scope="col" class="fs">DISCOUNT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr #gstdata *ngFor="let gst of listGST; index as i">

                                                <td class="fs"><input class="form-control form-control-sm fs"
                                                        type="text" name="prodid" value="{{gst['prodid']}}" readonly
                                                        hidden></td>
                                                <td class="fs"><input class="form-control form-control-sm fs"
                                                        type="text" name="productname" value="{{gst['productname']}}"
                                                        readonly></td>
                                                <td class="fs"><input class="form-control form-control-sm fs"
                                                        type="text" name="casno" value="{{gst['casno']}}" readonly></td>
                                                <td class="fs"><input class="form-control form-control-sm fs"
                                                        type="text" name="currency" value="{{gst['currency']}}"
                                                        readonly></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="cgst" value="{{gst['cgst']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="sgst" value="{{gst['sgst']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="igst" value="{{gst['igst']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="tax" value="{{gst['tax']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="discount" value="{{gst['discount']}}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                                        No
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                                        (click)="findandupdateGST()">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-secondary text-light">
                    Find and update LOV
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-info mt-2" data-bs-target="#lovtable"
                        data-bs-toggle="modal">Click to
                        see list of
                        LOVs</button>
                    <div class="modal fade" id="lovtable" tabindex="-1" aria-labelledby="lovtableLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <table sclass="table table-sm table-responsive table-hover">
                                        <caption>LOV update</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fs"></th>
                                                <th scope="col" class="fs">NAME</th>
                                                <th scope="col" class="fs">VALUE</th>
                                                <th scope="col" class="fs">STATUS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr #tabledata *ngFor="let lov of listLOV; index as i">
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="lid" value="{{lov['id']}}" hidden></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="lname" value="{{lov['lovname']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="lvalue" value="{{lov['lovvalue']}}"></td>
                                                <td><select class="form-control form-control-sm fs"
                                                        value="{{lov['status']}}" type="text" name="lstatus">
                                                        <option>ACTIVE</option>
                                                        <option>INACTIVE</option>
                                                    </select></td>
                                            </tr>
                                            <ng-container #lovbody></ng-container>
                                            <ng-template #newrow>
                                                <tr #tabledata>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="lid" value="" hidden></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="lname"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="lvalue"></td>
                                                    <td><select class="form-control form-control-sm fs" type="text"
                                                            name="lstatus">
                                                            <option>ACTIVE</option>
                                                            <option>INACTIVE</option>
                                                        </select></td>
                                                    <td><button class="btn btn-sm btn-outline-dark"
                                                            (click)="removethis()">X</button></td>
                                                </tr>
                                            </ng-template>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="addLOV()">
                                        Add new row
                                    </button>
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                                        No
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                                        (click)="findandupdateLOV()">
                                        Update
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-secondary text-light">
                    Find and update currency exchange rates
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-info mt-2" data-bs-target="#xtable"
                        data-bs-toggle="modal">Click to see list of
                        Exchange rates</button>
                    <div class="modal fade" id="xtable" tabindex="-1" aria-labelledby="xtableLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <table sclass="table table-sm table-responsive table-hover">
                                        <caption>Exchange rate update</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fs">From</th>
                                                <th scope="col" class="fs">To</th>
                                                <th scope="col" class="fs">Exchange</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr #xdata *ngFor="let Xc of listXchange; index as i">
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="from" value="{{Xc['from']}}" readonly></td>
                                                <td><input class="form-control form-control-sm fs" type="text" name="to"
                                                        value="{{Xc['to']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text" name="x"
                                                        value="{{Xc['x']}}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                                        No
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                                        (click)="findandupdateXchange()">
                                        Update
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row mt-2">
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-danger text-light">
                    Find and update company information
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-warning mt-2" data-bs-target="#comptable"
                        data-bs-toggle="modal">Click to see list of
                        company information</button>
                    <div class="modal fade" id="comptable" tabindex="-1" aria-labelledby="comptableLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <table sclass="table table-sm table-responsive table-hover">
                                        <caption>Company data update</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fs"></th>
                                                <th scope="col" class="fs">Name</th>
                                                <th scope="col" class="fs">Address</th>
                                                <th scope="col" class="fs">country</th>
                                                <th scope="col" class="fs">Default Currency</th>
                                                <th scope="col" class="fs">Email</th>
                                                <th scope="col" class="fs">Mobile</th>
                                                <th scope="col" class="fs">Phone</th>
                                                <th scope="col" class="fs">Fax</th>
                                                <th scope="col" class="fs">ID Number</th>
                                                <th scope="col" class="fs">ID Type</th>
                                                <th scope="col" class="fs">Licenses</th>
                                                <th scope="col" class="fs">Registration Date</th>
                                                <th scope="col" class="fs">Registration Number</th>
                                                <th scope="col" class="fs">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr #compdata *ngFor="let lov of listCompany; index as i">
                                                <td><input class="form-control form-control-sm fs" type="text" name="id"
                                                        value="{{lov['id']}}" hidden readonly></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="name" value="{{lov['name']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="address" value="{{lov['address']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="country" value="{{lov['country']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="defaultcurrency" value="{{lov['defaultcurrency']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="email" value="{{lov['email']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="phone" value="{{lov['phone']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="mobile" value="{{lov['mobile']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="fax" value="{{lov['fax']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="idnum" value="{{lov['idnum']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="idtype" value="{{lov['idtype']}}"></td>
                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="license" value="{{lov['license']}}">
                                                </td>
                                                <td><input class="form-control form-control-sm fs" type="date"
                                                        name="registrationdate" value="{{lov['registrationdate']}}">
                                                </td>

                                                <td><input class="form-control form-control-sm fs" type="text"
                                                        name="registrationnum" value="{{lov['registrationnum']}}"></td>

                                                <td><select class="form-control form-control-sm fs"
                                                        value="{{lov['status']}}" type="text" name="status">
                                                        <option>ACTIVE</option>
                                                        <option>INACTIVE</option>
                                                    </select></td>
                                            </tr>
                                            <ng-container #gstbody></ng-container>
                                            <ng-template #newrowgst>
                                                <tr #compdata>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="id" hidden readonly></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="name"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="address"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="country"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="defaultcurrency"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="email"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="phone"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="mobile"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="fax"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="idnum"></td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="idtype"></td>
                                                            <td><input class="form-control form-control-sm fs" type="text"
                                                                name="license" >
                                                        </td>
                                                    <td><input class="form-control form-control-sm fs" type="date"
                                                            name="registrationdate">
                                                    </td>
                                                    <td><input class="form-control form-control-sm fs" type="text"
                                                            name="registrationnum"></td>

                                                    <td><select class="form-control form-control-sm fs" type="text"
                                                            name="status">
                                                            <option>ACTIVE</option>
                                                            <option>INACTIVE</option>
                                                        </select></td>
                                                    <td><button class="btn btn-sm btn-outline-dark"
                                                            (click)="removeCompany()">X</button></td>
                                                </tr>
                                            </ng-template>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="addCompany()">
                                        Add new row
                                    </button>
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                                        No
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                                        (click)="findandupdateCompany()">
                                        Update
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card">
                <div class="card-header bg-danger text-light">
                    Initite DB CSV backup
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-warning mt-2" (click)="InititeCSVBackup()">Click
                        to start backup</button>
                </div>
            </div>
        </div>
    </div>
</div>