
<div class="container shadow smedia">
  <div class="row row-cols-2">
    <div class="col card text-break text-wrap">
      Attention:
      <ul>
        <li>Any information entered will be securly stored.</li>
        <li>
          Deletion of information will only result in non-availability from
          future operation. It is still visible in their respective sections if already used.
        </li>
        <li>
          We do not share any of your information with anyone, in any form,
          unless goverened by respective Law of the Land.
        </li>
        <li>
          Information provided in the Order section, meant to be on the dispatch
          label will be visible to others gaining the access to the respective
          label.
        </li>
      </ul>
    </div>
    <div class="col card">
      <form>
        <div class="form-floating mb-1">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-1">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <a routerLink="/dashboard" class=" me-2"
          ><button type="submit" class="btn btn-sm btn-primary" >Sign in</button></a
        >
        <a routerLink="/register"
        ><button type="submit" class="btn btn-sm btn-secondary" >New User? Register</button></a
      >
      </form>
    </div>
  </div>
  
