
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="btn btn-info" for="inputGroupSelect01">Search</label>
            </div>
            <div class="w-25">
            <select class="form-control" id="inputGroupSelect01">
              <option selected>...</option>
              <option value="name">Product Name</option>
              <option value="CAS">CAS No</option>
              <option value="Cat">Category</option>
              <option value="Country">Country</option>
              <option value="Partner">Partner</option>
            </select></div>
            <input type="text" placeholder="Choose category and type to search" class="form-control" aria-label="Text input with segmented dropdown button">
          </div>
        </div>
        <div class="col-sm-6"><input class="form-control filter" [(ngModel)]="filterTerm" type="text"
          placeholder="Type to filter" />
      </div>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="custom-align">
    <div class="row row-cols-4">
      <div *ngFor="let i of products | searchFilter: filterTerm">
        <div class="col">
          <!--       -->

          <div class="card clearfix" (click)="setCurObj(i)" data-bs-toggle="modal"
          data-bs-target="#exampleModalInfo">
              
                <div class="card-header">
                  <img src="data:image/png;base64,{{i['image']}}" />
                </div>
                
                <div class="card-body text-wrap text-break">
                  {{ i["Product Name"] }}
                </div>

                <div class="card-footer">
                  <div class="one-third">
                    <div class="stat">{{ i["SL No"] }}</div>
                    <div class="stat-value">SL No</div>
                  </div>

                  <div class="two-third no-border">
                    <div class="stat">{{ i["CAS No"] }}</div>
                    <div class="stat-value">CAS No</div>
                  </div>

                </div>
          </div>


          <!--       -->
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="align-content-center">
          <div class="top">
            {{CardProdObj["Sl No"]}}
            <br />
            {{CardProdObj["CAS No"]}}
            <br />
            {{CardProdObj["Cat No"]}}
            <br />

          </div>
          <div class="bottom">
            <img src="data:image/png;base64,{{CardProdObj['image']}}" />
            <br />
            {{CardProdObj["Product Name"]}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary">
          Order&nbsp;now
        </button>
        <button type="button" class="btn btn-sm btn-info">
          Add&nbsp;to&nbsp;cart
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
          X
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mt-2"><br /></div>