<div class="resultCard" id="top">
  <div class="container d-flex align-content-center justify-content-center mb-2">
    <select class="form-control form-control-sm w-50">
      <option>All</option>
      <option>Country</option>
      <option>partners</option>
    </select>
    <select class="form-control form-control-sm w-50">
      <option>All</option>
      <option>Small select</option>
      <option>Small select</option>
    </select>
    <div class="input-group w-60">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-search fa-2x"></i></div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup">
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let i of products | searchFilter: filterTerm">
      <div class="col-sm-3">
        <div class="card prod clearfix">
          <div class="card-header ch" (click)="setCurObj(i)" data-bs-toggle="modal" data-bs-target="#exampleModalInfo">
            <img class="img" src="data:image/png;base64,{{i['image']}}" />
          </div>
          <div class="card-body cb text-wrap text-break" (click)="setCurObj(i)" data-bs-toggle="modal"
            data-bs-target="#exampleModalInfo">
            CAS#:{{CardProdObj["CAS No"]}}
            <hr>
            {{ i["productname"] }}
          </div>
          <div class="card-footer cf">
            <div class="row align-items-start">
              <div class="col">
                Price
              </div>
              <div class="col">
                Qantity
              </div>
              <div class="col">
                Very reactive
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col">
                <a class="btn btn-sm btn-info bt">Add to cart</a>
              </div>
              <div class="col">
                <a class="btn btn-sm btn-primary bt">Order now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="modal fade" id="exampleModalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="align-content-center">
          <div class="">
            {{CardProdObj["Sl No"]}}
            <br />
            {{CardProdObj["CAS No"]}}
            <br />
            {{CardProdObj["Cat No"]}}
            <br />

          </div>
          <div class="">
            <img src="data:image/png;base64,{{CardProdObj['image']}}" />
            <br />
            {{CardProdObj["Product Name"]}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary bt">
          Order&nbsp;now
        </button>
        <button type="button" class="btn btn-sm btn-info bt">
          Add&nbsp;to&nbsp;cart
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
          X
        </button>
      </div>
    </div>
  </div>
</div>
<div class="top">
  <div class="circle"><i class="fas fa-sort-alpha-up-alt fa-2x"></i></div>
  <div class="circle"><i class="fas fa-sort-alpha-down-alt fa-2x"></i></div>
  <div class="circle"> <i class="fas fa-filter fa-2x"></i></div>
  <div class="circle" (click)="goBack();">TOP</div>
</div>
<div class="mt-2"><br /></div>