<div class="container-fluid minh">
    <div class="row mt-3">
        <div class="col-sm-2">
            <nav class="navbar leftnav">
                <ul class="nav navbar-nav smallnv">
                    <li class="nav-link">
                        <button class="btn btn-sm btn-info btnw">All Customeres</button>
                    </li>
                    <li class="nav-link">
                        <button class="btn btn-sm btn-secondary btnw">Inactive Customeres</button>
                    </li>
                    <li class="nav-link">
                        <button class="btn btn-sm btn-warning btnw">Unverified Customeres</button>
                    </li>
                    <li class="nav-link">
                        <button class="btn btn-sm btn-danger btnw">Blocked Customeres</button>
                    </li>
                    <li class="nav-link">
                        <button class="btn btn-sm btn-success btnw">Partners</button>
                    </li>
                    <li>
                        <div class="circle"><i class="fas fa-sort-alpha-up-alt fa-2x"></i></div>
                    </li>
                    <li>
                        <div class="circle"><i class="fas fa-sort-alpha-down-alt fa-2x"></i></div>
                    </li>
                    <li>
                        <div class="circle">TOP</div>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div class="continer ">
                <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="filterTerm">
                <hr />
                <div class="list-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row row-cols-1 m-1"
                                *ngFor="let customer of accntList | searchFilter: filterTerm;index as i">
                                <div *ngIf="i%2==0;"
                                    class="list-group-item list-group-item-action border border-dark  shadow-lg"
                                    aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div data-bs-toggle="modal" data-bs-target="#customerinfo"
                                            (click)="setContext=customer">
                                            <h6 class="mb-1 h"><u>{{customer.fullname}}</u></h6>
                                        </div>
                                        <small>
                                            <div class="dropdown">
                                                <button class="btn  btn-sm btn-secondary dropdown-toggle smalltext"
                                                    type="button" id="action" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Take Action
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="action">
                                                    <li><a class="dropdown-item smalltext" href="#">Activate</a></li>
                                                    <li><a class="dropdown-item smalltext" href="#">Inactive</a></li>
                                                    <li><a class="dropdown-item smalltext" href="#">Block</a></li>
                                                    <li><a class="dropdown-item smalltext" href="#">Confirm</a></li>
                                                </ul>
                                            </div>
                                        </small>
                                    </div>
                                    <div class="mb-1">
                                        <div class="table table-borderless smalltext">
                                            <div class="row">
                                                <div class="col-sm">Phone<br />{{customer.phone}}</div>
                                                <div class="col-sm">Email<br />{{customer.email}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">Company Name:</div>
                                                <div class="col-sm">{{customer.company}}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <small>
                                        <div class="row">
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#coninfo" data-bs-toggle="modal"
                                                    (click)="getCT(customer)">
                                                    Contacts
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#adrinfo" data-bs-toggle="modal"
                                                    (click)="getAD(customer)">
                                                    Addresses
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#odrinfo" data-bs-toggle="modal"
                                                    (click)="getOD(customer)">
                                                    Orders
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#srinfo" data-bs-toggle="modal"
                                                    (click)="getSR(customer)">
                                                    SRs
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>

                                        </div>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row row-cols-1 m-1"
                                *ngFor="let customer of accntList | searchFilter: filterTerm;index as i">
                                <div *ngIf="i%2!=0;"
                                    class="list-group-item list-group-item-action  border border-dark shadow-lg"
                                    aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div data-bs-toggle="modal" data-bs-target="#customerinfo"
                                            (click)="setContext=customer">
                                            <h6 class="mb-1 h"><u>{{customer.fullname}}</u></h6>
                                        </div>
                                        <small>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-secondary dropdown-toggle smalltext"
                                                    type="button" id="action" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Take Action
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="action">
                                                    <li><a class="dropdown-item smalltext" href="#">Activate</a></li>
                                                    <li><a class="dropdown-item smalltext" href="#">Inactive</a></li>
                                                    <li><a class="dropdown-item smalltext" href="#">Block</a></li>
                                                    <li><a class="dropdown-item smalltext" href="#">Confirm</a></li>
                                                </ul>
                                            </div>
                                        </small>
                                    </div>
                                    <div class="mb-1">
                                        <div class="table table-borderless smalltext">
                                            <div class="row">
                                                <div class="col-sm">Phone<br />{{customer.phone}}</div>
                                                <div class="col-sm">Email<br />{{customer.email}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">Company Name:</div>
                                                <div class="col-sm">{{customer.company}}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <small>
                                        <div class="row">
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#coninfo" data-bs-toggle="modal"
                                                    (click)="getCT(customer)">
                                                    Contacts
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#adrinfo" data-bs-toggle="modal"
                                                    (click)="getAD(customer)">
                                                    Addresses
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#odrinfo" data-bs-toggle="modal"
                                                    (click)="getOD(customer)">
                                                    Orders
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>
                                            <div class="col-sm">
                                                <button type="button" class="btn btn-sm btn-primary smalltext m-1"
                                                    data-bs-target="#srinfo" data-bs-toggle="modal"
                                                    (click)="getSR(customer)">
                                                    SRs
                                                    <!-- <span class="badge bg-dark"></span> -->
                                                </button>
                                            </div>

                                        </div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="customerinfo" tabindex="-1" aria-labelledby="customerinfoLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Individual detail
                            <hr />
                        </strong>
                        <label class="lable" for="name">UserId</label>
                        <input tpe="text" class="form-control-plaintext" id="customerid"
                            value="{{setContext.customerid}}" readonly />
                        <br />

                        <label class="lable" for="name">Full name</label>
                        <input tpe="text" class="form-control-plaintext" id="name" value="{{setContext.fullname}}"
                            readonly />
                        <br />
                        <div class="row row-cols-2">
                            <div>
                                <label class="lable" for="sex">Sex</label>
                                <input type="text" class="form-control-plaintext" id="sex" value="{{setContext.sex}}"
                                    readonly />
                            </div>
                            <div>
                                <label class="lable" for="dob">Date of birth</label>
                                <input type="date" class="form-control-plaintext" id="dob" value="{{setContext.dob}}"
                                    readonly />
                            </div>
                        </div>
                        <br />
                        <div class="row row-cols-2">
                            <!-- <div>
                                <label class="lable" for="country">Country</label>
                                <input class="form-control-plaintext" id="country"  readonly />
                            </div>-->
                            <div>
                                <label class="lable" for="idtype">ID type</label>
                                <input class="form-control-plaintext" id="idtype" value="{{setContext.idtype}}"
                                    readonly />
                            </div>
                        </div>
                        <br />
                        <div>
                            <label class="lable" for="idname">ID name</label>
                            <input type="text" class="form-control-plaintext" id="idname" name="idname"
                                value="{{setContext.idname}}" readonly />
                        </div>
                        <br />
                        <label class="lable" for="idnum">ID number</label>
                        <input type="text" class="form-control-plaintext" id="idnum" name="idnum"
                            value="{{setContext.idnum}}" readonly />
                        <br />
                        <label class="lable" for="email">Email</label>
                        <input type="email" class="form-control-plaintext" id="email" value="{{setContext.email}}"
                            readonly />
                        <br />
                        <label class="lable" for="phone">Phone number</label>
                        <input type="text" class="form-control-plaintext" id="phone" value="{{setContext.phone}}"
                            name="phone" />
                        <br />
                        <label class="lable" for="address">Address</label>
                        <textarea class="form-control-plaintext" id="address" value="{{setContext.uaddress}}"
                            required></textarea>
                        <br />
                        <!--  <div class="row row-cols-2">
                            <div>
                                <label class="lable" for="state">State</label>
                                <input type="text" class="form-control-plaintext" id="state" required>
                            </div>
                            <div>
                                <label class="lable" for="zip">Zip code</label>
                                <input type="text" class="form-control-plaintext" id="zip" required>
                            </div>
                        </div>-->
                        <br />
                        <div class="row row-cols-2">
                            <div>
                                <label class="lable" for="regtype">Registration type</label>
                                <input type="text" class="form-control-plaintext" id="regtype"
                                    value="{{setContext.type}}" readonly />
                            </div>
                            <div>
                                <label class="lable" for="decl">I confirm that information provided here are valid and
                                    verified</label>
                                <input type="checkbox" id="decl" checked="{{setContext.selfdeclation}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <strong>Company detail
                            <hr />
                        </strong>
                        <div class="lable" for="cname">Company name</div>
                        <input class="form-control-plaintext" id="cname" type="text" value="{{setContext.company}}"
                            readonly />
                        <br />
                        <div class="lable" for="cidname">Company id type</div>
                        <input class="form-control-plaintext" id="cidname" type="text"
                            value="{{setContext.uniqbusidentype}}" readonly />
                        <br />
                        <div class="lable" for="cidnum">Company id number</div>
                        <input class="form-control-plaintext" id="cidnum" type="text"
                            value="{{setContext.uniqbusidenno}}" readonly />
                        <br />
                        <div class="lable" for="ccountry">Country</div>
                        <input class="form-control-plaintext" id="ccountry" type="text"
                            value="{{setContext.buscountry}}" readonly />
                        <div class="row row-cols-2">
                            <div>
                                <label class="lable" for="cstate">State</label>
                                <input type="text" class="form-control-plaintext" id="cstate"
                                    value="{{setContext.cstate}}" readonly />
                            </div>
                            <div>
                                <label class="lable" for="czip">Zip code</label>
                                <input type="text" class="form-control-plaintext" id="czip" value="{{setContext.czip}}"
                                    readonly />
                            </div>
                        </div>
                        <br />
                        <div class="lable" for="cemail">Company email</div>
                        <input class="form-control-plaintext" type="email" id="cemail" value="{{setContext.cemail}}"
                            readonly />
                        <br />
                        <div class="lable" for="cphone">Company phone</div>
                        <input class="form-control-plaintext" id="cphone" type="text" value="{{setContext.cphone}}"
                            readonly />
                        <br />
                        <div class="lable" for="caddress">Company address</div>
                        <textarea class="form-control-plaintext" id="caddress" value="{{setContext.caddress}}"
                            readonly></textarea>
                        <br />
                        <div class="lable" for="creg">Registration number at PRASI LABS</div>
                        <input class="form-control-plaintext" id="creg" type="text" value="{{setContext.compregno}}"
                            readonly />
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    X
                </button>
            </div>
        </div>
    </div>
</div>
<!--Contact section-->
<div class="modal fade" id="coninfo" tabindex="-1" aria-labelledby="coninfoLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-xl">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <th scope="col">sl#</th>
                    </div>
                    <div class="col">
                        <th scope="col">Name</th>
                    </div>
                    <div class="col">
                        <th scope="col">Phone</th>
                    </div>
                    <div class="col">
                        <th scope="col">Mobile</th>
                    </div>
                    <div class="col">
                        <th scope="col">Email</th>
                    </div>
                    <div class="col">
                        <th scope="col">sex</th>
                    </div>
                    <div class="col">
                        <th scope="col">Type</th>
                    </div>
                    <div class="col">
                        <th scope="col">Status</th>
                    </div>
                </div>
                <div class="row" *ngFor="let con of contactList; index as i">
                    <div class="col">{{i+1}}</div>
                    <div class="col">{{con.Contact.name}}</div>
                    <div class="col">{{con.Phone.phone}}</div>
                    <div class="col">{{con.Phone.mobile}}</div>
                    <div class="col">{{con.Email.name}}</div>
                    <div class="col">{{con.Contact.sex}}</div>
                    <div class="col">{{con.Contact.type}}</div>
                    <div class="col">{{con.Contact.status}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    X
                </button>
            </div>
        </div>
    </div>
</div>
<!--Address section-->
<div class="modal fade" id="adrinfo" tabindex="-1" aria-labelledby="adrinfoLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <th scope="col">sl#</th>
                    </div>
                    <div class="col">
                        <th scope="col">Address</th>
                    </div>
                    <div class="col">
                        <th scope="col">Zip</th>
                    </div>
                    <div class="col">
                        <th scope="col">State</th>
                    </div>
                    <div class="col">
                        <th scope="col">Country</th>
                    </div>
                    <div class="col">
                        <th scope="col">Type</th>
                    </div>
                    <div class="col">
                        <th scope="col">Status</th>
                    </div>
                </div>
                <div class="row" *ngFor="let addr of addrList; index as i">
                    <div class="col">{{i+1}}</div>
                    <div class="col">{{addr.Address.address}}</div>
                    <div class="col">{{addr.Zip.zip}}</div>
                    <div class="col">{{addr.Zip.state}}</div>
                    <div class="col">{{addr.Zip.country}}</div>
                    <div class="col">{{addr.Address.type}}</div>
                    <div class="col">{{addr.Address.status}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    X
                </button>
            </div>
        </div>
    </div>
</div>
<!--Order section-->
<div class="modal fade" id="odrinfo" tabindex="-1" aria-labelledby="odrLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <th scope="col">sl#</th>
                    </div>
                    <div class="col">
                        <th scope="col">Order#</th>
                    </div>
                    <div class="col">
                        <th scope="col">Final Amount</th>
                    </div>
                    <div class="col">
                        <th scope="col">Currency</th>
                    </div>
                    <div class="col">
                        <th scope="col">Type</th>
                    </div>
                    <div class="col">
                        <th scope="col">Status</th>
                    </div>
                </div>
                <div class="row" *ngFor="let odr of orderList; index as i">
                    <div class="col">{{i+1}}</div>
                    <div class="col">{{odr.Orders.ordernum }}</div>
                    <div class="col">{{odr.Orders.finalamount }}</div>
                    <div class="col">{{odr.Orders.currency }}</div>
                    <div class="col">{{odr.Orders.type }}</div>
                    <div class="col">{{odr.Orders.status }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    X
                </button>
            </div>
        </div>
    </div>
</div>
<!--Service request section-->
<div class="modal fade" id="srinfo" tabindex="-1" aria-labelledby="srinfoLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <th scope="col">sl#</th>
                    </div>
                    <div class="col">
                        <th scope="col">SR Number</th>
                    </div>
                    <div class="col">
                        <th scope="col">Date Raised</th>
                    </div>
                    <div class="col">
                        <th scope="col">Type</th>
                    </div>
                    <div class="col">
                        <th scope="col">Status</th>
                    </div>
                </div>
                <div class="row" *ngFor="let sr of srList; index as i">
                    <div class="col">{{i+1}}</div>
                    <div class="col">{{sr.srno}}</div>
                    <div class="col">{{sr.created}}</div>
                    <div class="col">{{sr.type}}</div>
                    <div class="col">{{sr.status}}</div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    X
                </button>
            </div>
        </div>
    </div>
</div>