<div class="container">

    <div class="summary">
        <div class="osum">
            <button class="btn btn-sm btn-success">Pleace Order</button>
            <hr />
            <h6><b>Order Summary</b></h6>
            <p>Total payble amount AUD nine hundred and ninty only.</p>
            <table class="table table-striped table-dark table-responsive-sm">
                <caption>Note: INR to AUD echange amount: (Taken from ... at 7 AM)</caption>
                <thead>
                    <tr>
                        <th scope="col">
                            <select class="form-control">
                                <option *ngFor="let c of currency">{{c}}</option>
                               
                            </select>
                        </th>
                        <th scope="col">
                            Amount
                        </th>
                        <th scope="col">
                            Currency

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Total Price</th>
                        <td>{{totalPrice}}</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <th scope="row">Discount</th>
                        <td>{{totalDiscount}}</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <th scope="row">Tax</th>
                        <td>{{totalTax}}</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <th scope="row">Payable Price</th>
                        <td>{{payblePrice}} </td>
                        <td>AUD</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="oaddr">
            <section class="d-flex align-content-center">
                <p class="billcart"><u>Billing Address.</u>
                    <br />
                    this is billing address. ok. Fine
                    <br />
                    <button class="btn btn-sm btn-outline-primary">Change</button>
                </p>
                <p class="shipcart"><u>Shippng Address</u>
                    <br />
                    this is shipping address. Okk Ine. you let it go
                    <br />
                    <button class="btn btn-sm btn-outline-primary">Change</button>
                </p>
            </section>
        </div>
    </div>
    <div class="listItem">
        Cart Items
        <table class="table table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">Sl no.</th>
                    <th scope="col">Item name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItem; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.iname}}</td>
                    <td>{{item.qntty}}</td>
                    <td>{{item.price}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="removeItem(i)">X</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-sm btn-success">Pleace Order</button>
    </div>

</div>