<div class="container">

    <div class="summary">
        <div class="osum">
            <button class="btn btn-sm btn-success" (click)="submitOrder()">Pleace Order</button>
            <hr />
            <h6><b>Order Summary</b></h6>
            <p>Total payble amount AUD nine hundred and ninty only.</p>
            <table class="table table-striped table-dark table-responsive-sm">
                <caption>Note: INR to AUD echange amount: (Taken from ... at 7 AM)</caption>
                <thead>
                    <tr>
                        <th scope="col">
                            <select class="form-control" id="cur">
                                <option *ngFor="let c of currency">{{c}}</option>

                            </select>
                        </th>
                        <th scope="col">
                            Amount
                        </th>
                        <th scope="col">
                            Currency

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Total Price</th>
                        <td>{{totalPrice}}</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <th scope="row">Discount</th>
                        <td>{{totalDiscount}}</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <th scope="row">Tax</th>
                        <td>{{totalTax}}</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <th scope="row">Payable Price</th>
                        <td>{{payblePrice}} </td>
                        <td>AUD</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="oaddr">
            <section class="d-flex align-content-start">
                <p class="billcart text-wrap"><u>Billing Address.</u>
                    <br />
                    {{bill["contact"]}}
                    <br />
                    {{bill["address"]}}
                    <br />
                    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModalCart" (click)="context='B'">Change</button>
                </p>
                <p class="shipcart text-wrap"><u>Shippng Address</u>
                    <br />
                    {{ship["contact"]}}
                    <br />
                    {{ship["address"]}}
                    <br />
                    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModalCart" (click)="context='A'">Change</button>
                </p>
            </section>
        </div>
    </div>
    <div class="listItem">
        Cart Items
        <table class="table table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">Sl no.</th>
                    <th scope="col">Item name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItem; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.iname}}</td>
                    <td>{{item.qntty}}</td>
                    <td>{{item.price}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="removeItem(i )">X</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-sm btn-success" (click)="submitOrder()">Pleace Order</button>
    </div>

</div>
<div class="modal fade" id="exampleModalCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <table class="table table-hover table-responsive-sm">
                        <caption>Select contact</caption>
                        <thead>
                            <tr>
                                <th scope="col">Sl#</th>
                                <th scope="col">Choose</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of conList; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td class="csel"><input  type="radio" id="csel_{{i}}" name="csel" /></td>
                                <td class="name" id="name_{{i}}">{{item.Contact.name}}</td>
                                <td class="phoe" id="phone_{{i}}">{{item.Phone.phone}}</td>
                                <td class="mobile" id="mobile_{{i}}">{{item.Phone.mobile}}</td>
                                <td class="email" id="email_{{i}}">{{item.Email.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <br />
                <form>
                    <table class="table table-hover table-responsive-sm">
                        <caption>Select address</caption>
                        <thead>
                            <tr>
                                <th scope="col">Sl#</th>
                                <th scope="col">Choose</th>
                                <th scope="col">Address</th>
                                <th scope="col">State</th>
                                <th scope="col">Country</th>
                                <th scope="col">Zip</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of adrList; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td class="ssel"><input  type="radio" id="ssel_{{i}}" name="ssel" /></td>
                                <td class="address" id="address_{{i}}">{{item.Address.address}}</td>
                                <td class="state" id="state_{{i}}">{{item.Zip.state}}</td>
                                <td class="country" id="country_{{i}}">{{item.Zip.country}}</td>
                                <td class="zip" id="zip_{{i}}">{{item.Zip.zip}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-sm btn-success" data-bs-dismiss="modal"
                        *ngIf="context=='B' ; else A" (click)="chooseBA()">
                        Done
                    </button>
                    <ng-template #A>
                        <button type="submit" class="btn btn-sm btn-success" data-bs-dismiss="modal"
                            (click)="chooseSA()">
                            Done
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>