<div class="container">
    <hr class="w-25"/>
    <div class="row mt-2">
        <div class="col-sm-2">Total Credit</div>
        <div class="col-sm-2">{{totalCredit}}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Total Debit</div>
        <div class="col-sm-2">{{totalDebit}}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Current Balance</div>
        <div class="col-sm-2">{{totalCredit - totalDebit}}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Unclear Amount</div>
        <div class="col-sm-2">{{totalUnknown}}</div>
    </div>
    <hr class="w-25"/>
    <div>
        <div class="d-flex float-end">
            <button class="btn btn-sm btn-primary m-1" (click)="addChild()">Add new entry</button>
            <button class="btn btn-sm btn-info m-1" (click)="saveAll()">Save all entry</button>
            <button class="btn btn-sm btn-dark m-1" data-bs-target="#fileupload" data-bs-toggle="modal"> Upload
                file(xlsx
                or csv)</button>
            <button class="btn btn-sm btn-secondary m-1" (click)="downloadAll()">Export excel</button>
        </div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>

                    <th></th>
                    <th>
                        Description
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Currency
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container #ledgerc></ng-container>
                <tr #entry *ngFor="let ledgetList of ledgetList;">

                    <td><input class="form-control form-control-sm" type="text" name="id" readonly hidden
                            value="{{ledgetList.id}}"></td>
                    <td><textarea class="form-control form-control-sm" name="dsc" required value="{{ledgetList.dsc}}"
                            (keyup)="recalculate()" [readonly]="ledgetList.status == 'Freezed'"></textarea></td>
                    <td><input class="form-control form-control-sm" type="number" name="amount" (keyup)="recalculate()"
                            value="{{ledgetList.amount}}" [readonly]="ledgetList.status == 'Freezed'">
                    </td>
                    <td><input class="form-control form-control-sm" type="text" name="currency" readonly
                            value="{{ledgetList.currency}}"></td>
                    <td><select class="form-control form-control-sm" type="text" name="type" required
                            value="{{ledgetList.type}}" (change)="recalculate()" [disabled]="ledgetList.status == 'Freezed'">
                            <option>---</option>
                            <option>Credit</option>
                            <option>Debit</option>
                        </select></td>
                    <td><input class="form-control form-control-sm" type="text" name="updated" required readonly
                            value="{{ledgetList.updated}}"></td>
                    <td><input class="form-control form-control-sm" type="text" name="status" required readonly
                            value="{{ledgetList.status}}"></td>
                    <td><button class="btn btn-sm btn-danger" (click)="freezItem(ledgetList)"  [disabled]="ledgetList.status == 'Freezed'">Freez</button></td>
                </tr>
                <ng-template #ledgert>
                    <tr #entry>

                        <td><input class="form-control form-control-sm" type="text" name="id" readonly hidden></td>
                        <td><textarea class="form-control form-control-sm" name="dsc" required
                                (keyup)="recalculate()"></textarea></td>
                        <td><input class="form-control form-control-sm" type="number" name="amount" required
                                (keyup)="recalculate()"></td>
                        <td><input class="form-control form-control-sm" type="text" name="currency" value="INR"
                                readonly></td>
                        <td><select class="form-control form-control-sm" type="text" name="type" required
                                (change)="recalculate()">
                                <option>---</option>
                                <option>Credit</option>
                                <option>Debit</option>
                            </select></td>
                        <td><input class="form-control form-control-sm" type="date" name="updated" required
                                (keyup)="recalculate()"></td>
                        <td><input class="form-control form-control-sm" type="text" name="status" value="Open" required
                                readonly>
                        </td>
                        <td><button class="btn btn-sm btn-secondary m-1" (click)="removeChild()">-</button>
                            <button class="btn btn-sm btn-success m-1" (click)="saveChild($event)">+</button>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="fileupload" tabindex="-1" aria-labelledby="customerinfoLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <label class="label" for="upload">Choose file(s)</label>
                <input class="form-control form-control-sm" type="file" multiple id="upload" name="upload"
                    (change)="uploadAll($event)">
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-primary">X</button>
            </div>
        </div>
    </div>
</div>