
<!-- <div class="stage">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div> -->
<app-header></app-header>
<div class="container-fluid">
  <div class="push">
    <router-outlet (activate)="changeOfRoutes($event)"></router-outlet>
  </div>
  <!-- <app-messages></app-messages> -->
</div>
<app-footer></app-footer>