<div class="table table-sm table-responsive table-hover table-borderless border border-dark">
    <div class="row">
      <div class="col-sm-6">
        This is main section
      </div>
      <div class="col-sm-6 border-start border-dark">
        This is invoice section
      </div>
    </div>
    <div class="row border-top border-dark">
      <div class="col-sm-6"><strong>Shipped to:</strong></div>
      <div class="col-sm-6 border-start border-dark"><strong>Billed to:</strong></div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-end">Kajal agarwall</div>
      <div class="col-sm-6 border-start border-dark text-end">Aditi rao</div>
    </div>
    <div class="row">
      <div class="col-sm-7 bg-dark text-white">Item</div>
      <div class="col-sm-1 bg-dark text-white">Discount</div>
      <div class="col-sm-1 bg-dark text-white">Quantity</div>
      <div class="col-sm-1 bg-dark text-white">Tax</div>
      <div class="col-sm-1 bg-dark text-white">Amount</div>
      <div class="col-sm-1 bg-dark text-white">Currency</div>
    </div>
    <div class="row">
      <div class="col-sm-7 border border-start-0">
        ilgdfsdlafkldsjfkdlsfjdslakfjsdlk<br />
        <p class="text-justify text-monospace">
          <b><i>Cas#:</i></b>&nbsp;
          <b><i>Rate:</i></b>&nbsp;
          <b><i>Unit&nbsp;type:</i></b>&nbsp;
          <b><i>Tax rate:</i></b>&nbsp;
        </p>
      </div>
      <div class="col-sm-1 border">fds</div>
      <div class="col-sm-1 border">dsfs</div>
      <div class="col-sm-1 border">sdfds</div>
      <div class="col-sm-1 border border-end-0">sdfs</div>
      <div class="col-sm-1 border border-end-0">INR</div>
    </div>
    <div class="row">
      <div class="col-sm-8">Extra detil</div>
      <div class="col-sm-4">
        
      </div>
    </div>
    <div class="row border-top border-dark">
      <div class="col-sm-12">
        Payble amount in words:&nbsp;<strong>Hundred</strong>
      </div>
    </div>
    <div class="row border-top border-dark">
      <div class="col-sm-6">Note: It is a computer generated invioce. Signature is not required.</div>
      <div class="col-sm-6 text-end">Issued by<br />PRASI LABS</div>
    </div>
  </div>