<br />
<div class="container">
  <form [formGroup]="profile" (ngSubmit)="updateUser($event)">
    <div class="row">
      <div class="col-sm-6">
        <strong>Individual detail
          <hr />
        </strong>
        <label class="lable" for="name">UserId*</label>
        <input tpe="text" class="form-control-plaintext" id="customerid" formControlName="customerid" readonly />
        <br />

        <label class="lable" for="name">Full name*</label>
        <input tpe="text" class="form-control-plaintext" id="name" formControlName="name" readonly />
        <br />
        <div class="row row-cols-2">
          <div>
            <label class="lable" for="sex">Sex*</label>
            <input type="text" class="form-control-plaintext" id="sex" formControlName="sex" readonly />
          </div>
          <div>
            <label class="lable" for="dob">Date of birth*</label>
            <input type="date" class="form-control-plaintext" id="dob" formControlName="dob" readonly />
          </div>
        </div>
        <br />
        <div class="row row-cols-2">
          <div>
            <label class="lable" for="country">Country*</label>
            <input class="form-control-plaintext" id="country" formControlName="country" readonly />
          </div>
          <div>
            <label class="lable" for="idtype">ID type*</label>
            <select class="form-control" id="idtype" formControlName="idtype" *ngIf="formData.country != 'IN'; else ind"
              required>
              <option value="NOT_DISCLOSED" selected>NOT_DISCLOSED</option>
              <option value="OTHER" selected>OTHER (please mention)</option>
            </select>
            <ng-template #ind>
              <select class="form-control" id="idtype" formControlName="idtype" required>
                <option value="NOT_DISCLOSED" selected>NOT_DISCLOSED</option>
                <option value="PAN" selected>PAN</option>
                <option value="DL" selected>DRIVING LICENSE</option>
                <option value="AADHAAR" selected>AADHAAR</option>
                <option value="PASSPORT" selected>PASSPORT</option>
              </select>
            </ng-template>
          </div>
        </div>
        <br />
        <div *ngIf="formData.country != 'IN' && formData.idtype != 'NOT_DISCLOSED';">
          <label class="lable" for="idname">ID name</label>
          <input type="text" class="form-control" id="idname" formControlName="idname" [required]="isIdNumRequired"
            [readonly]="!isIdNumRequired" />
        </div>
        <br />
        <label class="lable" for="idnum">ID number</label>
        <input type="text" class="form-control" id="idnum" formControlName="idnum" [required]="isIdNumRequired"
          [readonly]="!isIdNumRequired" />
        <br />
        <label class="lable" for="email">Email*</label>
        <input type="email" class="form-control-plaintext" id="email" formControlName="email" readonly />
        <br />
        <label class="lable" for="phone">Phone number</label>
        <input type="text" class="form-control" id="phone" name="phone" />
        <br />
        <label class="lable" for="address">Address*</label>
        <textarea class="form-control" id="address" formControlName="address" required></textarea>
        <br />
        <div class="row row-cols-2">
          <div>
            <label class="lable" for="state">State*</label>
            <input type="text" class="form-control" id="state" formControlName="state" required>
          </div>
          <div>
            <label class="lable" for="zip">Zip code*</label>
            <input type="text" class="form-control" id="zip" formControlName="zip" required>
          </div>
        </div>
        <br />
        <div class="row row-cols-2">
          <div>
            <label class="lable" for="regtype">Registration type*</label>
            <input type="text" class="form-control-plaintext" id="regtype" formControlName="regtype" readonly />
          </div>
          <div>
            <label class="lable" for="decl">I confirm that information provided here are valid and
              verified</label>
            <input type="checkbox" id="decl" formControlName="decl">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <strong>Company detail
          <hr />
        </strong>
        <div class="lable" for="cname">Company name*</div>
        <input class="form-control-plaintext" id="cname" type="text" formControlName="cname" readonly />
        <br />
        <div class="lable" for="cidname">Company id type*</div>
        <input class="form-control-plaintext" id="cidname" type="text" formControlName="cidname" readonly />
        <br />
        <div class="lable" for="cidnum">Company id number*</div>
        <input class="form-control-plaintext" id="cidnum" type="text" formControlName="cidnum" readonly />
        <br />
        <div class="lable" for="ccountry">Country*</div>
        <input class="form-control-plaintext" id="ccountry" type="text" formControlName="ccountry" readonly />
        <div class="row row-cols-2">
          <div>
            <label class="lable" for="cstate">State*</label>
            <input type="text" class="form-control-plaintext" id="cstate" formControlName="cstate" readonly />
          </div>
          <div>
            <label class="lable" for="czip">Zip code*</label>
            <input type="text" class="form-control-plaintext" id="czip" formControlName="czip" readonly />
          </div>
        </div>
        <br />
        <div class="lable" for="cemail">Company email*</div>
        <input class="form-control-plaintext" type="email" id="cname" formControlName="cemail" readonly />
        <br />
        <div class="lable" for="cphone">Company phone*</div>
        <input class="form-control-plaintext" id="cphone" type="text" formControlName="cphone" readonly />
        <br />
        <div class="lable" for="caddress">Company address*</div>
        <textarea class="form-control-plaintext" id="caddress" formControlName="caddress" readonly></textarea>
        <br />
        <div class="lable" for="creg">Registration number at PRASI LABS if available</div>
        <input class="form-control" id="creg" type="text" formControlName="creg" />
        <br />
        <div class="row row-cols-2">
          <div>
            <input type="submit" class="form-control btn btn-sm btn-primary" id="submit" value="Update">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>