<div class="row d-flex align-items-center justify-content-evenly clearfix">
    <div class="col-sm-5 offer1 d-flex align-items-center justify-content-evenly clearfix">
        <div class="row x">
            <div class="col-sm-12 text-center">
                <h4 class="text-light"><strong>Search any product</strong></h4>
            </div>
            <div class="col-sm-12">
                <div class="dot1"><button id="searchAll" [routerLink]="['main','ANY']"
                        class="btn btn-warning broder">Search</button>
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="col-sm-12 text-center mt-3">
                <h4 class="text-light"><strong>Explore our products</strong></h4>
            </div>
            <div class="col-sm-4">

                <button class="button-83" role="button" id="searchAPI" [routerLink]="['main','API']">
                    CRO
                </button>

            </div>
            <div class="col-sm-4">

                <button class="button-83" role="button" id="searchDP" [routerLink]="['main','DP']">
                    RLD
                </button>
            </div>

            <div class="col-sm-4">
                <button class="button-83" role="button" id="searchAll" [routerLink]="['main','ALL']">
                    ALL
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-5 offer2 d-flex align-items-center justify-content-evenly clearfix">
        <div>

        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row mt-4">
        <div class="col-sm-12 fs-4 z">
            <app-atom></app-atom> &nbsp;&nbsp;
            <div class="text3d">We, PRASI LABS</div>
        </div>
    </div>
    <hr class="w-50" />

    <div class="we y">
        <p class="text-wrap text-dark p-1">
            We offer custom synthesis services of up to gram-quantities of materials for a wide range of
            industrial
            and academic customers.We listen to our customers and provide products that meet their
            specifications.
            The purity of our products is supported by solid analytical data and their certification is
            tailored
            to
            our customer needs.​
            Our strong partner network enables us to server our customer quickly to their expectation and
            beyond.
        </p>

    </div>
    <div class="row mt-4">
        <div class="col-sm-12 fs-4 zr">
            <app-atom></app-atom> &nbsp;&nbsp;
            <div class="text3d">OUR VALUES</div>
        </div>
    </div>
    <hr class="w-50 float-end" />
    <div class="row principal y">
        <div class="col-sm-12 principal-left mb-3">
            <div class="row">
                <div class="col-sm-4 d-flex align-items-center justify-content-center mb-1">
                    <div class="rounded-pill commitment" title="COMMITMENT" (click)="setCommitment()"
                        data-bs-toggle="collapse" data-bs-target="collapseSecP" aria-controls="collapseSec"
                        [attr.aria-expanded]="!isModelP">
                        <i class="fas fa-handshake fa-3x"></i>
                    </div>
                    &nbsp;
                    <div class="ctext">COMMITMENT</div>
                </div>
                <div class="col-sm-4 d-flex align-items-center justify-content-center  mb-1">
                    <div class="rounded-pill consistency" title="CONSISTENCY" (click)="setConsistency()"
                        data-bs-toggle="collapse" data-bs-target="collapseSecP" aria-controls="collapseSec"
                        [attr.aria-expanded]="!isModelP">
                        <i class="fas fa-thumbs-up fa-3x"></i>
                    </div>
                    &nbsp;
                    <div class="ctext">CONSISTENCY</div>
                </div>
                <div class="col-sm-4 d-flex align-items-center justify-content-center  mb-1">
                    <div class="rounded-pill transparency" title="TRANSPARENCY" (click)="setTransparecy()"
                        data-bs-toggle="collapse" data-bs-target="collapseSecP" aria-controls="collapseSec"
                        [attr.aria-expanded]="!isModelP">
                        <i class="fas fa-hand-paper fa-3x"></i>
                    </div>
                    &nbsp;
                    <div class="ctext">TRANSPARENCY</div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 principal-right">
            <div class="collapse text" id="collapseSecP" [(ngbCollapse)]="isModelP" (click)="isModelP"
                [animation]="true">
                <div class="card">
                    <div class="card-header hcolor text-shadow">
                        {{principle.header}}
                    </div>
                    <div class="card-body we">
                        <p class="text-wrap text-dark p-1">
                            {{principle.detail}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 fs-4 z">
            <app-atom></app-atom> &nbsp;&nbsp;
            <div class="text3d">WE DO</div>
        </div>
    </div>
    <hr class="w-50" />

    <div class="row d-flex justify-content-center mx-1">
        <div class="col-sm-12">
            <app-offering></app-offering>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 fs-4 zr">
            <app-atom></app-atom> &nbsp;&nbsp;
            <div class="text3d">AND WE HEAR</div>
        </div>
    </div>
    <hr class="w-50 float-end" />
</div>
<div class="container-flex">
    <div class="testimonies">
        <div class="row">
            <div class="col-sm-4 text-center" *ngFor="let ap of appriciation">
                <div class="infocardContainer">
                    <div id="main">
                        <img src="../../assets/Prasilabs.png" />
                    </div>
                    <div id="textbois">
                        <h3>{{ap.who}}</h3>
                        <h5>{{ap.what}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>