.offer1{
  background-image: linear-gradient(to right, #141e30, #243b55);
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size: cover;
  box-shadow: rgb(0, 0, 0) 5px 10px 18px;
  min-height: 30em;
  border-radius: 9px;
  padding:2em;
  margin-top: 3em;
  }
  .dot{
    display: flex;
    flex: 2 1;
    margin: 1rem 1rem;
    border-radius: 5px;
    padding: 2px 2px 2px;
    min-height: 2.5em;
    background-image: linear-gradient(to bottom,rgb(5, 23, 48),rgb(7, 95, 95));
    cursor: pointer;
    justify-content: center;
    }
    .dot1{
      display: flex;
      flex: 2 1;
      margin: 1rem 1rem;
      border-radius: 5px;
      padding: 2px 2px 2px;
      min-height: 2.5em;
      
      cursor: pointer;
      justify-content: center;
      }
    .dot>a{
      color: rgb(243, 236, 236);
      text-transform: uppercase;
      text-decoration: none;
      font-size: small;
      text-align: center;
    }
    .dot:hover{
        background-image: linear-gradient(to top,rgb(4, 30, 54),white);
        transform: scale(1.1);
        transition: 0.8s;
    }
    .x{
      padding: 2em;
      background-color: transparent;
      font-weight: 500;
}
.hcolor{
  background-color: rgba(60,179,113,0.7);
  color:whitesmoke
}

.principal{
    transform: all 2s;
    font-weight: 300;
    display: flex;
    padding: 3em;
    justify-content: center;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 2s;
    position: relative;
    width: 100%;
}
.principal-left{
    transform: all 0.4s;
    font-weight: 500;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/
}
.text{
  transition: 0.8s;
}
.principal-right{
    transform: all 0.4s;
    background: transparent;
   /* animation-name: floating;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
.principal-right:hover{
    animation-play-state: paused;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.commitment{
    padding: 1em;
    color:  rgb(10, 105, 165);
    animation-name: rotate; 
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow:rgb(10, 105, 165) 0px 1px 3px;
    cursor: pointer;

}
.consistency{
    padding: 1em;
    color: rgb(150, 13, 150);
  animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: rgb(150, 13, 150) 0px 1px 3px;
    cursor: pointer;
}
.transparency{
    padding: 1em;
    color: rgb(34, 56, 34);
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: rgb(34, 56, 34) 0px 1px 3px;
    cursor: pointer;
 
}
  

@keyframes rotate {
    0% { transform: scale(0.95); }
    50%  { transform: scale(1.0); }
    100%   { transform: scale(0.95); } 
}
.commitment:hover{
    animation-play-state: paused;
    background: transparent;
}
.consistency:hover{
    animation-play-state: paused;
    background: transparent;
}
.transparency:hover{
    animation-play-state: paused;
    background: transparent;
}
.testimonies{
background:transparent;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: auto;
background-blend-mode: hue;
width: 100%;
display: flex;
}
.z{
  display: flex;
  justify-content: left;
  align-items: center;
}
.zr{
  display: flex;
  justify-content: right;
  align-items: center;
}
.y{
  min-height: 100px;
}
.we{
  background-blend-mode: hue;
  }
.testm{
  background-color:transparent;
  color: rgb(247, 245, 241);
  min-height: 25vh;
}

.conBnd{
  border-top-left-radius: 15% !important;
  border-top-right-radius: 15% !important;
  background-color:blanchedalmond !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.ctext{
  font-size: large;
}
.cardMain{
  box-shadow: rgb(130, 195, 238) 2px 4px 6px;
  border-top-left-radius: 50rem !important;
  border-top-right-radius: 50rem !important;
}

.cardMain:hover{
  transform: scale(0.9);
  transition: 1s;
  cursor: pointer;
  
}
.c-h{
  border-top-left-radius: 50rem !important;
  border-top-right-radius: 50rem !important;
  background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}
.c-b{
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}
.text3d {
  color: #70869d;
  letter-spacing: .15em;
  text-shadow: 
    -1px -1px 1px #efede3, 
    0px 1px 0 #2e2e2e, 
    0px 2px 0 #2c2c2c, 
    0px 3px 0 #2a2a2a, 
    0px 4px 0 #282828, 
    0px 5px 0 #262626, 
    0px 6px 0 #242424, 
    0px 7px 0 #222, 
   /* 0px 8px 0 #202020, 
    0px 9px 0 #1e1e1e, 
    0px 10px 0 #1c1c1c, 
    0px 11px 0 #1a1a1a, 
    0px 12px 0 #181818, 
    0px 13px 0 #161616, 
    0px 14px 0 #141414, 
    0px 15px 0 #121212,*/
    2px 20px 5px rgba(0, 0, 0, 0.9),
    5px 23px 5px rgba(0, 0, 0, 0.3),
    8px 27px 8px rgba(0, 0, 0, 0.5),
    8px 28px 35px rgba(0, 0, 0, 0.9);
}

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 650px) {
    p {
      font-size: 8px;
    }
    .principal-right{
        height: max-content;
        width: max-content;
    }
    .commitment{
      width: 60%;
      text-align: center;
  }
  .transparency{
      width: 60%;
      text-align: center;
  }
  .consistency{
      width: 60%;
      text-align: center;
  }
    .ctext{
      font-size: smaller;
      display: none;
    }
    .offer1{
      padding:1em;
      font-size: small;
    }
  }
  
  @media screen and (max-width: 980px) {
    p {
      font-size: 12px;
    }
      .commitment{
          width: 90%;
      }
      .transparency{
          width: 90%;
      }
      .consistency{
          width: 90%;
      }
      .ctext{
        font-size: small;
      }
    .principal-right{
        height: max-content;
    }
    .offer1{
      padding:1em;
      font-size: small;
    }
    
  }
