.offer1{
  background:  url(../../assets/PeriodicTableBlueprint-1024x576.jpg) center no-repeat fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size: cover;
  position: relative;
  box-shadow: rgb(0, 0, 0) 5px 10px 18px;
  min-height: 25em;
  border-radius: 19px;
  padding:3em;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  }
  .dot{
    display: flex;
    flex: 2 1;
    margin: 1rem 1rem;
    border-radius: 5px;
    padding: 10px 10px 10px;
    background-image: linear-gradient(to bottom,rgb(135, 238, 216),white);
    cursor: pointer;
    justify-content: center;
    }
    .dot>a{
      color: maroon;
      text-transform: uppercase;
      text-decoration: none;
    }
    .dot:hover{
        background-image: linear-gradient(to top,rgb(44, 114, 61),white);
        transform: scale(1.1);
        transition: 0.8s;
    }
    .x{
      padding: 2em;
      background-color: transparent;
      font-weight: 700;
}
.hcolor{
  background-color: rgba(60,179,113,0.7);
  color:whitesmoke
}

.principal{
    transform: all 2s;
    font-weight: bold;
    display: flex;
    padding: 3em;
    justify-content: center;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 2s;
    position: relative;
}
.principal-left{
    transform: all 0.4s;
    font-weight: bold;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/
}
.text{
  transition: 0.8s;
}
.principal-right{
    transform: all 0.4s;
    background: transparent;
   /* animation-name: floating;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
.principal-right:hover{
    animation-play-state: paused;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.commitment{
    padding: 1em;
    color:  rgb(10, 105, 165);
    animation-name: rotate; 
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow:rgb(10, 105, 165) 0px 1px 3px;
    cursor: pointer;

}
.consistency{
    padding: 1em;
    color: rgb(150, 13, 150);
  animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: rgb(150, 13, 150) 0px 1px 3px;
    cursor: pointer;
}
.transparency{
    padding: 1em;
    color: rgb(34, 56, 34);
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: rgb(34, 56, 34) 0px 1px 3px;
    cursor: pointer;
 
}
  

@keyframes rotate {
    0% { transform: scale(0.95); }
    50%  { transform: scale(1.0); }
    100%   { transform: scale(0.95); } 
}
.commitment:hover{
    animation-play-state: paused;
    background: transparent;
}
.consistency:hover{
    animation-play-state: paused;
    background: transparent;
}
.transparency:hover{
    animation-play-state: paused;
    background: transparent;
}
.testimonies{
background:transparent;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: auto;
background-blend-mode: hue;
}
.z{
  display: flex;
  justify-content: center;
}
.we{
  background-blend-mode: hue;
  }
.testm{
  background-color:transparent;
  color: rgb(247, 245, 241);
  min-height: 25vh;
}
.testm .card-header{
  background-color: brown;
}
.conBnd{
  border-top-left-radius: 15% !important;
  border-top-right-radius: 15% !important;
  background-color:blanchedalmond !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.ctext{
  font-size: large;
}
.cardMain{
  box-shadow: rgb(130, 195, 238) 2px 4px 6px;
}

.cardMain:hover{
  transform: scale(0.9);
  transition: 1s;
  cursor: pointer;
}
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 650px) {
    p {
      font-size: 8px;
    }
    .principal-right{
        height: max-content;
        width: max-content;
    }
    .commitment{
      width: 60%;
      text-align: center;
  }
  .transparency{
      width: 60%;
      text-align: center;
  }
  .consistency{
      width: 60%;
      text-align: center;
  }
    .ctext{
      font-size: smaller;
      display: none;
    }
    .offer1{
      padding:1em;
      font-size: small;
    }
  }
 
  @media screen and (max-width: 980px) {
    p {
      font-size: 12px;
    }
      .commitment{
          width: 90%;
      }
      .transparency{
          width: 90%;
      }
      .consistency{
          width: 90%;
      }
      .ctext{
        font-size: small;
      }
    .principal-right{
        height: max-content;
    }
    .offer1{
      padding:1em;
      font-size: small;
    }
    
  }
