<div class="offer1 d-flex align-items-center justify-content-evenly clearfix">
    <div class="row x">
        <div class="col-sm-12 text-center">
            <h4 class="text-danger"><strong>Search any product</strong></h4>
        </div>
        <div class="col-sm-12">
            <div class="dot"><a id="searchAll" routerLink="main" class="btn btn-warning broder">Search</a>
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <h4 class="text-danger"><strong>Explore our products</strong></h4>
        </div>
        <div class="col-sm-4">
            <div class="dot"><a id="searchAPI" routerLink="main">API</a></div>
        </div>
        <div class="col-sm-4">
            <div class="dot"><a id="searchDP" routerLink="main">Degradation Products</a></div>
        </div>
        <div class="col-sm-4">
            <div class="dot"><a id="searchDM" routerLink="main">Drug Metabolites</a></div>
        </div>

        <div class="col-sm-4">
            <div class="dot"><a id="searchCN" routerLink="main">Country</a></div>
        </div>
        <div class="col-sm-4">
            <div class="dot"><a id="searchSP" routerLink="main">Speciality</a></div>
        </div>
        <div class="col-sm-4">
            <div class="dot"><a id="searchAll" routerLink="main">All</a></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center fs-3 text-primary mt-3 z">
        <p class="bg-warning rounded-pill w-50 mt-4">WE, PRASI LABS</p>
    </div>
    <div class="we">

        <p class="text-justify text-wrap text-secondary p-1"> it was too awesome to work with
            We offer custom synthesis services of up to gram-quantities of materials for a wide range of
            industrial
            and academic customers.We listen to our customers and provide products that meet their
            specifications.
            The purity of our products is supported by solid analytical data and their certification is
            tailored
            to
            our customer needs.​
            Our strong partner network enables us to server our customer quickly to their expectation and
            beyond.
        </p>

    </div>
    <div class="text-center fs-3 text-primary mt-3 z">
        <p class="bg-warning rounded-pill w-50 mt-4">OUR VALUES</p>
    </div>
    <div class="row principal">
        <div class="col-sm-12 principal-left mb-3">
            <div class="row">
                <div class="col-sm-4 d-flex align-items-center justify-content-center mb-1">
                    <div class="rounded-pill commitment" title="COMMITMENT" (click)="setCommitment()"
                        data-bs-toggle="collapse" data-bs-target="collapseSecP" aria-controls="collapseSec"
                        [attr.aria-expanded]="!isModelP">
                        <i class="fas fa-handshake fa-3x"></i>
                    </div>
                    &nbsp;
                    <div class="ctext">COMMITMENT</div>
                </div>
                <div class="col-sm-4 d-flex align-items-center justify-content-center  mb-1">
                    <div class="rounded-pill consistency" title="CONSISTENCY" (click)="setConsistency()"
                        data-bs-toggle="collapse" data-bs-target="collapseSecP" aria-controls="collapseSec"
                        [attr.aria-expanded]="!isModelP">
                        <i class="fas fa-thumbs-up fa-3x"></i>
                    </div>
                    &nbsp;
                    <div class="ctext">CONSISTENCY</div>
                </div>
                <div class="col-sm-4 d-flex align-items-center justify-content-center  mb-1">
                    <div class="rounded-pill transparency" title="TRANSPARENCY" (click)="setTransparecy()"
                        data-bs-toggle="collapse" data-bs-target="collapseSecP" aria-controls="collapseSec"
                        [attr.aria-expanded]="!isModelP">
                        <i class="fas fa-hand-paper fa-3x"></i>
                    </div>
                    &nbsp;
                    <div class="ctext">TRANSPARENCY</div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 principal-right">
            <div class="collapse text" id="collapseSecP" [(ngbCollapse)]="isModelP" (click)="isModelP"
                [animation]="true">
                <div class="card ">
                    <div class="card-header hcolor text-shadow">
                        {{principle.header}}
                    </div>
                    <div class="card-body">
                        <P class="text-break fw-normal text-justify lh-base">
                            {{principle.detail}}
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center mx-1">
    <div class="col-sm-12">
        <app-offering></app-offering>
    </div>
</div>
<div class="container-fluid testimonies">
    <div class="text-center fs-3 text-primary z">
        <p class="bg-warning rounded-pill w-50 mt-4">AND WE HEAR</p>
    </div>
    <div class="row">
        <div class="col-sm-4 testm" *ngFor="let ap of appriciation">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-medal fa-2x"></i>
                    {{ap.who}}
                </div>
                <div class="card-body">
                    <p class="text-justify text-wrap text-secondary p-1"> 
                        {{ap.what}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>