
<br />
<h4 class="custom-c">Contacts</h4>
<a routerLink="../../profile">Back</a>
<hr id="horzntl-custom-inv" />
<div class="container media">
  <div class="row">
    <div class="col-sm-4" *ngFor="let con of contacts">
      <div class="m-2">
        <div
          class="badge bg-secondary float-start"
          *ngIf="con['contactType'] !== ''"
          [ngClass]="con['contactClass']"
        >
        {{ con["contactType"] }}
        </div>
        <div class="card border-warning shadow">
          <div class="card-header">
            <div class="card-title d-inline float-start">
              <i class="fas fa-{{ sexIcon[con['contactSex']] }} fa-lg"></i>
            </div>
            <div class="card-title d-inline float-end">
              {{ con["contactName"] }}
            </div>
          </div>
          <div class="card-body">
            <div class="row row-cols-1">
              <div class="col d-flex justify-content-between mb-1">
                <i class="fas fa-phone text-primary me-3"></i>
                <div class="text-dark">3434343434</div>
              </div>
              <div class="col d-flex justify-content-between mb-1">
                <i class="fas fa-mobile text-secondary me-3"></i>
                <div class="">3434343434</div>
              </div>
              <div class="col d-flex justify-content-between mb-1">
                <i class="fas fa-at text-dark me-3"></i>
                <div class="">3434343434</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button
              class="btn btn-sm border-primary float-start"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalEdit"
            >
              Edit
            </button>
            <button
              class="btn btn-sm border-danger float-end"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalDispose"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalDispose"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">Are you sure you want to delete the contact? If you have used this contact before, it will still be visible in those respective sections.</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          data-bs-dismiss="modal"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          data-bs-dismiss="modal"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="row row-cols-2">
            <div class="col">
              <label for="name">Name</label>
              <input class="form-control" type="text" id="name" name="name" />
            </div>
            <div class="col">
              <label for="name">Phone</label>
              <input class="form-control" type="text" id="phone" name="phone" />
            </div>
            <div class="col">
              <label for="name">Mobile</label>
              <input class="form-control" type="text" id="mob" name="mob" />
            </div>
            <div class="col">
              <label for="name">Email</label>
              <input class="form-control" type="email" id="email" name="name" />
            </div>
            <div class="col">
              <label for="name">Sex</label>
              <input class="form-control" type="text" id="sex" name="sex" />
            </div>
            <div class="col">
              <label for="name">Type</label>
              <input class="form-control" type="text" id="type" name="type" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success"
          data-bs-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
