<br />
<h4 class="custom-c">Contacts</h4>
<a routerLink="../../profile">Back</a>
<br /><br />
<button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#contactModel">New Contact</button>
<hr id="horzntl-custom-inv" />
<div class="container media">
  <div class="row">
    <div class="col-sm-4" *ngFor="let con of contacts">
      <div class="m-2">
        <div class="badge bg-secondary float-start" *ngIf="con['contactType'] !== ''" [ngClass]="con['contactClass']">
          {{ con["contactType"] }}
        </div>
        <div class="card border-warning shadow">
          <div class="card-header">
            <div class="card-title d-inline float-start">
              <i class="fas fa-{{ sexIcon[con['contactSex']] }} fa-lg"></i>
            </div>
            <div class="card-title d-inline float-end">
              {{ con["contactName"] }}
            </div>
          </div>
          <div class="card-body">
            <div class="row row-cols-1">
              <div class="col d-flex justify-content-between mb-1">
                <i class="fas fa-phone text-primary me-3"></i>
                <div class="text-dark"> {{ con["contactPhone"] }}</div>
              </div>
              <div class="col d-flex justify-content-between mb-1">
                <i class="fas fa-mobile text-secondary me-3"></i>
                <div class=""> {{ con["contactMobile"] }}</div>
              </div>
              <div class="col d-flex justify-content-between mb-1">
                <i class="fas fa-at text-dark me-3"></i>
                <div class=""> {{ con["contactEmail"] }}</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm border-primary float-start" data-bs-toggle="modal"
              data-bs-target="#exampleModalEdit" (click)="setTempCon(con)">
              Edit
            </button>
            <button class="btn btn-sm border-danger float-end" data-bs-toggle="modal"
              data-bs-target="#exampleModalDispose" (click)="setTempCon(con)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalDispose" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">Are you sure you want to delete the contact? If you have used this contact before, it will
        still be visible in those respective sections.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" (click)="deleteContact()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="profileContactEdit" (ngSubmit)="updateContact($event)">
          <div class="row row-cols-2">
            <div class="col">
              <label for="name">Name</label>
              <input class="form-control" type="text" id="name" formControlName="name" />
            </div>
            <div class="col">
              <label for="country">Country Code</label>
              <input class="form-control" type="email" id="country" formControlName="country" />
            </div>
            <div class="col">
              <label for="phone">Phone</label>
              <input class="form-control" type="text" id="phone" formControlName="phone" />
            </div>
            <div class="col">
              <label for="mobile">Mobile</label>
              <input class="form-control" type="text" id="mobile" formControlName="mobile" />
            </div>
            <div class="col">
              <label for="email">Email</label>
              <input class="form-control" type="email" id="email" formControlName="email" />
            </div>
            <div class="col">
              <label for="sex">Sex</label>
              <select class="form-control" type="text" id="sex" formControlName="sex">
                <option>NOT_DISCLOSED</option>
                <option>MALE</option>
                <option>FEMALE</option>
                <option>OTHERS</option>
              </select>

            </div>
            <div class="col">
              <label for="type">Type</label>
              <select class="form-control" type="text" id="type" formControlName="type">
                <option>PRIMARY</option>
                <option>BILLING</option>
                <option>SHIPPING</option>
                <option>GENERAL</option>
              </select>
            </div>
          </div>
          <div class="mt-1">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-sm btn-success" data-bs-dismiss="modal">
            Update
          </button>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="contactModel" tabindex="-1" aria-labelledby="productModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="card-text float-start d-inline">
              <form>
                <div class="mb-1 row">
                  <label for="name" class="col-sm-2 col-form-label lablec">Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id='nname'>
                  </div>
                  <label for="email" class="col-sm-2 col-form-label lablec">Email</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id='nemail'>
                  </div>
                </div>
                <div class="mb-1 row">
                  <label for="country" class="col-sm-2 col-form-label lablec">Country code</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id='ncountry'>
                  </div>
                  <label for="phone" class="col-sm-2 col-form-label lablec">Phone</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id='nphone' placeholder="without country code">
                  </div>
                  <label for="mobile" class="col-sm-2 col-form-label lablec">Mobile</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id='nmobile' placeholder="without country code">
                  </div>
                </div>
                <div class="mb-1 row">
                  <label for="sex" class="col-sm-2 col-form-label lablec">Sex</label>
                  <div class="col-sm-4">
                    <select type="text" class="form-control" id='nsex'>
                      <option>
                        MALE
                      </option>
                      <option>
                        FEMALE
                      </option>
                      <option>
                        OTHERS
                      </option>
                    </select>
                  </div>
                  <label for="type" class="col-sm-2 col-form-label lablec">Type</label>
                  <div class="col-sm-4">
                    <select type="text" class="form-control" id='ntype'>
                      <option>PRIMARY</option>
                      <option>BILLING</option>
                      <option>SHIPPING</option>
                      <option>GENERAL</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-info" (click)="putcontacts()">
          Create
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
          X
        </button>
      </div>
    </div>

  </div>
</div>