<div class="container-fluid">
    <div class="row">
        <div class="col">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </div>
        <div class="col">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </div>
        <div class="col">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </div>
        <div class="col">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </div>
        <div class="col">

        </div>
    </div>
    </div>