<div class="container-fluid">
    Welcome&nbsp;back&nbsp;{{LoggedInUser}}
    <hr />
    <div class="left">
        <div class="top">
           <canvas #orderStatus></canvas>
        </div>
        <div class="down">
            left down
        </div>
    </div>
    <div class="right">
        <div class="top">
            <div class="left">
                right top left
            </div>
            <div class="right">
                right top right
            </div>
        </div>
        <div class="down">
            right down
        </div>
    </div>