
.card:hover {
    transition: transform 125ms;
    transform: scale(1.03);
    border-color: blue !important;
  }
  .btn-custom:active {
    transform: scale(0.8);
    background-color: orange;
  }
  #horzntl-custom-inv {
    width: 50%;
    color: chocolate;
    height: 5px;
  }
  #btnGroupInvoiceSrch:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
  }
  #btnGroupInvoiceSrch:active {
    background-color: orange;
  }
  .custom-c{
    color:chocolate;
  }