
.card:hover {
    transition: transform 125ms;
    transform: scale(1.03);
    border-color: blue !important;
  }
  .btn-custom:active {
    transform: scale(0.8);
    background-color: orange;
  }
  #horzntl-custom-inv {
    width: 50%;
    color: chocolate;
    height: 5px;
  }
  #btnGroupInvoiceSrch:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
  }
  #btnGroupInvoiceSrch:active {
    background-color: orange;
  }
  .custom-c{
    color:chocolate;
  }
  .fifty{
    width:50% !important
  }
  .sixty{
    width: 60% !important;
  }
  .fifteen{
    width: 15% !important;
  }
  .hundred{
    width: 100% !important;
  }
  .forty{
    width: 40% !important;
  }
  .ten{
    width: 10% !important;
  }
  .iconInvoice{
    height:25% !important;
    width: 25% !important;
  }
  .posImgInv{
    position: relative;
    float: left;
    width: 25%;
  }
  .textInv{
   float: right;
   width: 75%;
  }