
#horzntl-custom-inv {
  width: 50%;
  color: chocolate;
  height: 5px;
}
.hov {
  cursor: pointer;
}
.x-fit {
  width: auto;
  height: auto;
}
.card{
  border: none;
  background-color:transparent;
}
.fit{
  width: 4em;
  transition: transform 125ms;
  transform: scale(0.8);
}
.x-fit:active{
  transition: transform 125ms;
  transform: scale(0.8);
}

@media screen and (max-width:900px){
  .card-title{
    font-size: smaller;
  }
}