
<br />
<div class="container">
  <div class="row row-cols-3">
    <div class="col">
      <div class="card w-50 shadow m-2">
        <div class="card-body">
          <h5 class="card-title">Contacts</h5>
          <p class="card-text">Manage your contacts</p>
          <a routerLink="../profile/contact" class="btn btn-primary"
            ><i class="fas fa-id-card fa-2x" title="Click Here"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-50 shadow m-2">
        <div class="card-body">
          <h5 class="card-title">Addresses</h5>
          <p class="card-text">Manage your address</p>
          <a routerLink="../profile/address" class="btn btn-primary"
            ><i class="fas fa-map-marked-alt fa-2x" title="Click Here"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card w-50 shadow m-2">
        <div class="card-body">
          <h5 class="card-title">Exchange Rates</h5>
          <p class="card-text">Know exchange rates in real time</p>
          <i
            class="fas fa-coins fa-2x app"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalEdit"
          ></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-50 shadow m-2">
        <div class="card-body">
          <h5 class="card-title">Login detail</h5>
          <p class="card-text">See all your past logins</p>
          <a routerLink="../profile/signin" class="btn btn-primary"
            ><i class="fas fa-fingerprint fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-50 shadow m-2">
        <div class="card-body">
          <h5 class="card-title">Documents</h5>
          <p class="card-text">Manage your documents</p>
          <a routerLink="../profile/document" class="btn btn-primary"
            ><i class="fas fa-file fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="appdetail">
          ok
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-5"></div>