<div class="offer clearfix">
    <div class="text-center fs-1 text-primary">
        We Live Here Doing
    </div>
    <div class="row m-2">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 color">
                    <i class="fas fa-atom fa-7x"></i>
                    <h4>Research and Development</h4>
                </div>
                <div class="col-sm-9 colornone">this is not cool. ieinfkjfdjfdksajf

                    fdfsfdsfdsaf
                    sdfdsfds
                    f
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 text-center">
            <div class="row">
                <div class="col-sm-3 color">
                    <i class="fab fa-battle-net fa-7x"></i>
                    <h4>Analytics and Certification</h4>
                </div>
                <div class="col-sm-9 colornone"></div>

            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 text-center">
            <div class="row">
                <div class="col-sm-3 color">
                    <i class="fas fa-flask fa-7x"></i>
                    <h4>Production</h4>
                </div>
                <div class="col-sm-9 colornone"></div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 text-center">
            <div class="row d-flex">
                <div class="col-sm-3 color">
                    <i class="fas fa-project-diagram fa-7x"></i>
                    <h4>Partnership</h4>
                </div>
                <div class="col-sm-9 colornone"></div>
 
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 text-center">
            <div class="row">
                <div class="col-sm-3 color">
                    <i class="fas fa-user-shield fa-7x"></i>
                    <h4>Services</h4>
                </div>
                <div class="col-sm-9 colornone"></div>
            </div>
        </div>
    </div>

    