<div class="offer clearfix">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header c-h d-flex justify-content-evenly">
                    <i class="fas fa-atom fa-3x shadow-lg-c"></i>
                    <h5 class="shadow-lg-t">Research and Development</h5>
                </div>
                <div class="card-body c-b ">
                    this is my
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fab fa-battle-net fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Analytics and Certification</h5>
                </div>
                <div class="card-body c-b ">

                    <section>
                        <strong>Analytical Certification</strong>
                        <ul>
                            <li>Certification designed to meet Regulatory Compliance
                            </li>
                            <li>Certificates of Analysis</li>
                            <li>Analytical data availability</li>
                            <li>Identification testing to authenticate standard</li>
                            <li>Purity determination</li>
                            <li>Chromatographic (HPLC)</li>
                            <li>Chiral purity</li>
                            <li>Isotopic purity</li>
                            <li>Customized certification to meet customer needs</li>
                        </ul>
                    </section>
                    <section>
                        <strong>Analytical Capabilities</strong>
                        <ul>
                            <li>
                                NMR Spectroscopy ( Spectrometers: 300 MHz, 400 MHz, 600 MHz and 700 MHz
                                1H, 13C, 31P-NMR,Two-dimensional experiments)
                            </li>
                            <li>
                                Mass Spectroscopy (DART, Electrospray, FAB sources, High-Resolution and MS/MS
                                capabilities)
                            </li>
                            <li>
                                IR, Water content (KF), Elemental Analysis, Optical rotation, GC, Metal Ion Analysis,
                                etc.
                            </li>
                            <li>HPLC (analytical and preparative) method development expertise

                            </li>
                        </ul>
                    </section>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fas fa-flask fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Production</h5>
                </div>
                <div class="card-body c-b ">thi</div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fas fa-user-shield fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Services</h5>
                </div>
                <div class="card-body  c-b ">
                    <div class="row">
                        <div class="col-sm-2"><b>Trade</b></div>
                        <div class="col-sm-10 text-justify">We have a large international network of small to large
                            scale CRO moecules manifacturing companies.
                            Depending on customer demands and available stocks, we can source in no time.
                        </div>
                    </div>
                    <div class="m-1"></div>
                    <div class="row">
                        <div class="col-sm-2"><b>Training</b></div>
                        <div class="col-sm-10 text-justify">To ensure talent pool in pharma sector should always
                            have the best in class lab facility
                            for their training and research work, we have different plans for students and research
                            scholers at our lab. We aim to make them industry ready
                            by providing world class facility.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fas fa-project-diagram fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Partnership</h5>
                </div>
                <div class="card-body  c-b ">
                    <div class="row">
                        <div class="col text-center"><img class="w-50" src="../../assets/acanthus-logo.png" /></div>
                        <div class="col text-center">Acanthus Research INC. Canada</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>