<div class="offer clearfix">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header c-h d-flex justify-content-evenly">
                    <i class="fas fa-atom fa-3x shadow-lg-c"></i>
                    <h5 class="shadow-lg-t">Research and Development</h5>
                </div>
                <div class="card-body c-b ">
                    this is my
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fab fa-battle-net fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Analytics and Certification</h5>
                </div>
                <div class="card-body c-b ">
                    this is my
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fas fa-flask fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Production</h5>
                </div>
                <div class="card-body c-b ">thi</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fas fa-project-diagram fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Partnership</h5>
                </div>
                <div class="card-body  c-b ">this</div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header  c-h d-flex justify-content-evenly">
                    <i class="fas fa-user-shield fa-3x shadow-lg-c"></i>

                    <h5 class="shadow-lg-t">Services</h5>
                </div>
                <div class="card-body  c-b ">
                    ok
                </div>
            </div>
        </div>
    </div>
    <br />
</div>