
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.nav-link{
  color:slategrey !important;
}
.nav-link:focus{
  color:seagreen !important;
}
.cart-c{
  color:brown;
}

@media screen and (max-width: 650px){
  ul,a{
    font-size: smaller;
  }
}