
<div class="mt-2"></div>
<a id="logout" routerLink="cart"  [routerLinkActive]="'active'"
  ><i
    class="fas fa-people-carry fa-2x d-inline float-end cart-c me-4"
    title="Cart"
  ></i
></a>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      id="Home"
      aria-current="page"
      [routerLinkActive]="'active'"
      routerLink="home"
      >Home</a
    >
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      routerLink="login"
      role="button"
      aria-expanded="false"
      id="Profile"
      [routerLinkActive]="'active'"
      routerLink="profile"
      >Profile</a
    >
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="Account Information"
          routerLink="./profile/account"
        >
          Account Information</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          id="Security settings"
          routerLink="./profile/security"
          >Security settings</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="#"
      id="Orders"
      [routerLinkActive]="'active'"
      routerLink="orders"
      >Orders</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="invoice"
      id="Invoices"
      [routerLinkActive]="'active'"
      routerLink="invoice"
      >Invoices</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="#"
      id="Service Requests"
      [routerLinkActive]="'active'"
      routerLink="sr"
      >Service Requests</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="#"
      id="Communications"
      [routerLinkActive]="'active'"
      routerLink="comm"
      >Communications</a
    >
  </li>
</ul>
<router-outlet ></router-outlet>