
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.nav-link{
  color:rgb(6, 18, 29) !important;
}
.nav-link:focus{
  color:seagreen !important;
}
.cart-c{
  color:rgb(10, 32, 53);
}

@media screen and (max-width: 650px){
  ul,a{
    font-size: smaller;
  }
}