
<div class="d-flex col-sm-12">
  <div class="justify-content-sm-start col-sm-6">
    <div class="list-group">
      <hr class="border border-success border-3" />
      <h5>Pending Orders</h5>
      <a
        href="#"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        The current link item
      </a>
      <a href="#" class="list-group-item list-group-item-action"
        >A second link item</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >A third link item</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >A fourth link item</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action disabled"
        tabindex="-1"
        aria-disabled="true"
        >A disabled link item</a
      >
    </div>

    <div class="list-group">
      <hr class="border border-success border-3" />
      <h5>Open Service Requests</h5>
      <a
        href="#"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        The current link item
      </a>
      <a href="#" class="list-group-item list-group-item-action"
        >A second link item</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >A third link item</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >A fourth link item</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action disabled"
        tabindex="-1"
        aria-disabled="true"
        >A disabled link item</a
      >
    </div>
  </div>
  <div class="justify-content-sm-end col-sm-6">
    <!--* Card init *-->
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <!-- Title -->
        <h5 class="h5 mb-0">Summary</h5>
      </div>
      <!-- Card body -->
      <div class="card-body">
        <div class="chart">
          <!-- Chart wrapper -->
          <canvas id="chart-pie" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>