<div class="media">
  <div class="row">
    <div class="justify-content-center col-sm-12">
      <div class="card">
        <div class="card-header text-primary">
          <h6>Summary</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <table class="table table-sm table-responsive table-borderless">
                <tr>
                  <th scope="col">Account status</th>
                  <td>{{stat['accountstatus']}}</td>
                </tr>
                <tr>
                  <th scope="col">Last Login</th>
                  <td>{{stat['lastlogin'] | date:'dd/MM/YYYY hh:mm:ss a'}} UTC</td>
                </tr>
                <tr>
                  <th scope="col">Total billed orders</th>
                  <td>{{stat['totalorders']}}</td>
                </tr>
                <tr>
                  <th scope="col">Total SRs</th>
                  <td>{{stat['totalSR']}}</td>
                </tr>
                <tr>
                  <th scope="col">Uploaded documents#</th>
                  <td>{{stat['noofdoc']}}</td>
                </tr>
              </table>
            </div>
            <div class="col">
              <div class="chart">
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                  [type]="barChartType">
                </canvas>

              </div>
            </div>
          </div>
          <br/>
         <p class="text-danger"> chart shows total expanse vs savings, overall and for the last 30 days. Please note, amount is in USD</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6">
      <div class="list-group">
        <h6><strong>Pending Orders</strong></h6>

        <a routerLink="../orders" class="list-group-item list-group-item-action" aria-current="false"
          (mouseenter)="setcontext($event)" (mouseleave)="setcontext($event)" *ngFor="let ors of ODR">
          {{ors.orderid}} &nbsp;&nbsp; {{ors.orderdate | date:'dd/MM/YYYY'}} &nbsp;&nbsp;
          {{ors.orderamount}}&nbsp;{{ors.cur}}
        </a>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="list-group">
        <h6><strong>Open Service Requests</strong></h6>
        <a routerLink="../sr" class="list-group-item list-group-item-action" aria-current="false"
          (mouseenter)="setcontext($event)" (mouseleave)="setcontext($event)" *ngFor="let sr of SRS">
          {{sr['srno']}} &nbsp;&nbsp; {{sr['srdate'] | date:'dd/MM/YYYY'}}
        </a>
      </div>
    </div>
  </div>


</div>